# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "weekly"
      time: "06:00"
    open-pull-requests-limit: 5 
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: "weekly"
      time: "06:02"
    open-pull-requests-limit: 5 
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: "daily"
      time: "06:04"