# Example of extending Makefile with Makefile.local.

BUILD_IMAGE ?= us.gcr.io/kubernetes-dev/mimir-build-image
IMAGE_PREFIX ?= custom-prefix/

mimir-push: cmd/mimir/.uptodate
	docker push $(IMAGE_PREFIX)mimir:$(IMAGE_TAG)
