"services":
  "distributor-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "sleep 3 && exec ./dlv exec ./mimir --listen=:18000 --headless=true --api-version=2 --accept-multiclient --continue --  -config.file=./config/mimir.yaml -target=distributor -server.http-listen-port=8000 -server.grpc-listen-port=9000 -activity-tracker.filepath=/activity/distributor-8000  -memberlist.nodename=distributor -memberlist.bind-port=10000 -ingester.ring.store=memberlist -distributor.ring.store=memberlist -compactor.ring.store=memberlist -store-gateway.sharding-ring.store=memberlist -ruler.ring.store=memberlist -alertmanager.sharding-ring.store=memberlist -blocks-storage.bucket-store.index-cache.backend=memcached -blocks-storage.bucket-store.chunks-cache.backend=memcached -blocks-storage.bucket-store.metadata-cache.backend=memcached -query-frontend.results-cache.backend=memcached -ruler-storage.cache.backend=memcached -blocks-storage.bucket-store.index-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.chunks-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+memcached:11211 -query-frontend.results-cache.memcached.addresses=dns+memcached:11211 -ruler-storage.cache.memcached.addresses=dns+memcached:11211"
    "depends_on":
      - "minio"
    "environment":
      - "JAEGER_AGENT_HOST=jaeger"
      - "JAEGER_AGENT_PORT=6831"
      - "JAEGER_SAMPLER_PARAM=1"
      - "JAEGER_SAMPLER_TYPE=const"
      - "JAEGER_TAGS=app=distributor"
    "hostname": "distributor-1"
    "image": "mimir"
    "ports":
      - "8000:8000"
      - "18000:18000"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "distributor-2":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "sleep 3 && exec ./dlv exec ./mimir --listen=:18001 --headless=true --api-version=2 --accept-multiclient --continue --  -config.file=./config/mimir.yaml -target=distributor -server.http-listen-port=8001 -server.grpc-listen-port=9001 -activity-tracker.filepath=/activity/distributor-8001  -memberlist.nodename=distributor -memberlist.bind-port=10001 -ingester.ring.store=memberlist -distributor.ring.store=memberlist -compactor.ring.store=memberlist -store-gateway.sharding-ring.store=memberlist -ruler.ring.store=memberlist -alertmanager.sharding-ring.store=memberlist -blocks-storage.bucket-store.index-cache.backend=memcached -blocks-storage.bucket-store.chunks-cache.backend=memcached -blocks-storage.bucket-store.metadata-cache.backend=memcached -query-frontend.results-cache.backend=memcached -ruler-storage.cache.backend=memcached -blocks-storage.bucket-store.index-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.chunks-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+memcached:11211 -query-frontend.results-cache.memcached.addresses=dns+memcached:11211 -ruler-storage.cache.memcached.addresses=dns+memcached:11211"
    "depends_on":
      - "minio"
    "environment":
      - "JAEGER_AGENT_HOST=jaeger"
      - "JAEGER_AGENT_PORT=6831"
      - "JAEGER_SAMPLER_PARAM=1"
      - "JAEGER_SAMPLER_TYPE=const"
      - "JAEGER_TAGS=app=distributor"
    "hostname": "distributor-2"
    "image": "mimir"
    "ports":
      - "8001:8001"
      - "18001:18001"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "grafana":
    "environment":
      - "GF_AUTH_ANONYMOUS_ENABLED=true"
      - "GF_AUTH_ANONYMOUS_ORG_ROLE=Admin"
    "image": "grafana/grafana:9.4.3"
    "ports":
      - "3000:3000"
    "volumes":
      - "./config/datasource-mimir.yaml:/etc/grafana/provisioning/datasources/mimir.yaml"
      - "./config/dashboards-mimir.yaml:/etc/grafana/provisioning/dashboards/mimir.yaml"
      - "../../operations/mimir-mixin-compiled/dashboards:/var/lib/grafana/dashboards/Mimir"
  "ingester-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "sleep 3 && exec ./dlv exec ./mimir --listen=:18002 --headless=true --api-version=2 --accept-multiclient --continue --  -config.file=./config/mimir.yaml -target=ingester -server.http-listen-port=8002 -server.grpc-listen-port=9002 -activity-tracker.filepath=/activity/ingester-8002  -memberlist.nodename=ingester-1 -memberlist.bind-port=10002 -ingester.ring.store=memberlist -distributor.ring.store=memberlist -compactor.ring.store=memberlist -store-gateway.sharding-ring.store=memberlist -ruler.ring.store=memberlist -alertmanager.sharding-ring.store=memberlist -blocks-storage.bucket-store.index-cache.backend=memcached -blocks-storage.bucket-store.chunks-cache.backend=memcached -blocks-storage.bucket-store.metadata-cache.backend=memcached -query-frontend.results-cache.backend=memcached -ruler-storage.cache.backend=memcached -blocks-storage.bucket-store.index-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.chunks-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+memcached:11211 -query-frontend.results-cache.memcached.addresses=dns+memcached:11211 -ruler-storage.cache.memcached.addresses=dns+memcached:11211"
    "depends_on":
      - "minio"
      - "distributor-1"
    "environment":
      - "JAEGER_AGENT_HOST=jaeger"
      - "JAEGER_AGENT_PORT=6831"
      - "JAEGER_SAMPLER_PARAM=1"
      - "JAEGER_SAMPLER_TYPE=const"
      - "JAEGER_TAGS=app=ingester-1"
    "hostname": "ingester-1"
    "image": "mimir"
    "ports":
      - "8002:8002"
      - "18002:18002"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
      - ".data-ingester-1:/tmp/mimir-tsdb-ingester:delegated"
  "ingester-2":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "sleep 3 && exec ./dlv exec ./mimir --listen=:18003 --headless=true --api-version=2 --accept-multiclient --continue --  -config.file=./config/mimir.yaml -target=ingester -server.http-listen-port=8003 -server.grpc-listen-port=9003 -activity-tracker.filepath=/activity/ingester-8003  -memberlist.nodename=ingester-2 -memberlist.bind-port=10003 -ingester.ring.store=memberlist -distributor.ring.store=memberlist -compactor.ring.store=memberlist -store-gateway.sharding-ring.store=memberlist -ruler.ring.store=memberlist -alertmanager.sharding-ring.store=memberlist -blocks-storage.bucket-store.index-cache.backend=memcached -blocks-storage.bucket-store.chunks-cache.backend=memcached -blocks-storage.bucket-store.metadata-cache.backend=memcached -query-frontend.results-cache.backend=memcached -ruler-storage.cache.backend=memcached -blocks-storage.bucket-store.index-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.chunks-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+memcached:11211 -query-frontend.results-cache.memcached.addresses=dns+memcached:11211 -ruler-storage.cache.memcached.addresses=dns+memcached:11211"
    "depends_on":
      - "minio"
      - "distributor-1"
    "environment":
      - "JAEGER_AGENT_HOST=jaeger"
      - "JAEGER_AGENT_PORT=6831"
      - "JAEGER_SAMPLER_PARAM=1"
      - "JAEGER_SAMPLER_TYPE=const"
      - "JAEGER_TAGS=app=ingester-2"
    "hostname": "ingester-2"
    "image": "mimir"
    "ports":
      - "8003:8003"
      - "18003:18003"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
      - ".data-ingester-2:/tmp/mimir-tsdb-ingester:delegated"
  "jaeger":
    "image": "jaegertracing/all-in-one"
    "ports":
      - "16686:16686"
      - "14268"
  "load-generator":
    "command":
      - "--remote-url=http://distributor-2:8001/api/v1/push"
      - "--remote-write-concurrency=5"
      - "--remote-write-interval=10s"
      - "--series-count=1000"
      - "--tenants-count=1"
      - "--query-enabled=true"
      - "--query-interval=1s"
      - "--query-url=http://querier:8004/prometheus"
      - "--server-metrics-port=9900"
    "image": "pracucci/cortex-load-generator:add-query-support-8633d4e"
    "ports":
      - "9900:9900"
  "memcached":
    "image": "memcached:1.6.19-alpine"
  "memcached-exporter":
    "command":
      - "--memcached.address=memcached:11211"
      - "--web.listen-address=0.0.0.0:9150"
    "image": "prom/memcached-exporter:v0.6.0"
  "minio":
    "command":
      - "server"
      - "--console-address"
      - ":9001"
      - "/data"
    "environment":
      - "MINIO_ROOT_USER=mimir"
      - "MINIO_ROOT_PASSWORD=supersecret"
    "image": "minio/minio"
    "ports":
      - "9000:9000"
      - "9001:9001"
    "volumes":
      - ".data-minio:/data:delegated"
  "nginx":
    "environment":
      - "NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx"
      - "DISTRIBUTOR_HOST=distributor-1:8000"
      - "ALERT_MANAGER_HOST=alertmanager-1:8031"
      - "RULER_HOST=ruler-1:8021"
      - "QUERY_FRONTEND_HOST=query-frontend:8007"
      - "COMPACTOR_HOST=compactor:8007"
    "hostname": "nginx"
    "image": "nginxinc/nginx-unprivileged:1.22-alpine"
    "ports":
      - "8080:8080"
    "volumes":
      - "../common/config:/etc/nginx/templates"
  "prometheus":
    "command":
      - "--config.file=/etc/prometheus/prometheus.yaml"
      - "--enable-feature=exemplar-storage"
      - "--enable-feature=native-histograms"
    "image": "prom/prometheus:v2.40.6"
    "ports":
      - "9090:9090"
    "volumes":
      - "./config:/etc/prometheus"
      - "../../operations/mimir-mixin-compiled/alerts.yaml:/etc/mixin/mimir-alerts.yaml"
      - "../../operations/mimir-mixin-compiled/rules.yaml:/etc/mixin/mimir-rules.yaml"
  "querier":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "sleep 3 && exec ./dlv exec ./mimir --listen=:18004 --headless=true --api-version=2 --accept-multiclient --continue --  -config.file=./config/mimir.yaml -target=querier -server.http-listen-port=8004 -server.grpc-listen-port=9004 -activity-tracker.filepath=/activity/querier-8004 -querier.scheduler-address=query-scheduler:9011 -querier.frontend-address= -memberlist.nodename=querier -memberlist.bind-port=10004 -ingester.ring.store=memberlist -distributor.ring.store=memberlist -compactor.ring.store=memberlist -store-gateway.sharding-ring.store=memberlist -ruler.ring.store=memberlist -alertmanager.sharding-ring.store=memberlist -blocks-storage.bucket-store.index-cache.backend=memcached -blocks-storage.bucket-store.chunks-cache.backend=memcached -blocks-storage.bucket-store.metadata-cache.backend=memcached -query-frontend.results-cache.backend=memcached -ruler-storage.cache.backend=memcached -blocks-storage.bucket-store.index-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.chunks-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+memcached:11211 -query-frontend.results-cache.memcached.addresses=dns+memcached:11211 -ruler-storage.cache.memcached.addresses=dns+memcached:11211"
    "depends_on":
      - "minio"
      - "distributor-1"
    "environment":
      - "JAEGER_AGENT_HOST=jaeger"
      - "JAEGER_AGENT_PORT=6831"
      - "JAEGER_SAMPLER_PARAM=1"
      - "JAEGER_SAMPLER_TYPE=const"
      - "JAEGER_TAGS=app=querier"
    "hostname": "querier"
    "image": "mimir"
    "ports":
      - "8004:8004"
      - "18004:18004"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "query-frontend":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "sleep 3 && exec ./dlv exec ./mimir --listen=:18007 --headless=true --api-version=2 --accept-multiclient --continue --  -config.file=./config/mimir.yaml -target=query-frontend -server.http-listen-port=8007 -server.grpc-listen-port=9007 -activity-tracker.filepath=/activity/query-frontend-8007 -query-frontend.max-total-query-length=8760h -query-frontend.scheduler-address=query-scheduler:9011 -memberlist.nodename=query-frontend -memberlist.bind-port=10007 -ingester.ring.store=memberlist -distributor.ring.store=memberlist -compactor.ring.store=memberlist -store-gateway.sharding-ring.store=memberlist -ruler.ring.store=memberlist -alertmanager.sharding-ring.store=memberlist -blocks-storage.bucket-store.index-cache.backend=memcached -blocks-storage.bucket-store.chunks-cache.backend=memcached -blocks-storage.bucket-store.metadata-cache.backend=memcached -query-frontend.results-cache.backend=memcached -ruler-storage.cache.backend=memcached -blocks-storage.bucket-store.index-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.chunks-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+memcached:11211 -query-frontend.results-cache.memcached.addresses=dns+memcached:11211 -ruler-storage.cache.memcached.addresses=dns+memcached:11211"
    "depends_on":
      - "minio"
      - "distributor-1"
    "environment":
      - "JAEGER_AGENT_HOST=jaeger"
      - "JAEGER_AGENT_PORT=6831"
      - "JAEGER_SAMPLER_PARAM=1"
      - "JAEGER_SAMPLER_TYPE=const"
      - "JAEGER_TAGS=app=query-frontend"
    "hostname": "query-frontend"
    "image": "mimir"
    "ports":
      - "8007:8007"
      - "18007:18007"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "query-scheduler":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "sleep 3 && exec ./dlv exec ./mimir --listen=:18011 --headless=true --api-version=2 --accept-multiclient --continue --  -config.file=./config/mimir.yaml -target=query-scheduler -server.http-listen-port=8011 -server.grpc-listen-port=9011 -activity-tracker.filepath=/activity/query-scheduler-8011 -query-frontend.max-total-query-length=8760h -memberlist.nodename=query-scheduler -memberlist.bind-port=10011 -ingester.ring.store=memberlist -distributor.ring.store=memberlist -compactor.ring.store=memberlist -store-gateway.sharding-ring.store=memberlist -ruler.ring.store=memberlist -alertmanager.sharding-ring.store=memberlist -blocks-storage.bucket-store.index-cache.backend=memcached -blocks-storage.bucket-store.chunks-cache.backend=memcached -blocks-storage.bucket-store.metadata-cache.backend=memcached -query-frontend.results-cache.backend=memcached -ruler-storage.cache.backend=memcached -blocks-storage.bucket-store.index-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.chunks-cache.memcached.addresses=dns+memcached:11211 -blocks-storage.bucket-store.metadata-cache.memcached.addresses=dns+memcached:11211 -query-frontend.results-cache.memcached.addresses=dns+memcached:11211 -ruler-storage.cache.memcached.addresses=dns+memcached:11211"
    "depends_on":
      - "minio"
      - "distributor-1"
    "environment":
      - "JAEGER_AGENT_HOST=jaeger"
      - "JAEGER_AGENT_PORT=6831"
      - "JAEGER_SAMPLER_PARAM=1"
      - "JAEGER_SAMPLER_TYPE=const"
      - "JAEGER_TAGS=app=query-scheduler"
    "hostname": "query-scheduler"
    "image": "mimir"
    "ports":
      - "8011:8011"
      - "18011:18011"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
"version": "3.4"
