multitenancy_enabled: false

distributor:
  pool:
    health_check_ingesters: true
  ring:
    kvstore:
      store: consul
      consul:
        host: consul:8500

ingester_client:
  grpc_client_config:
    # Configure the client to allow messages up to 100MB.
    max_recv_msg_size: 104857600
    max_send_msg_size: 104857600
    grpc_compression: gzip

ingester:
  ring:
    # We want to start immediately.
    final_sleep: 0s
    num_tokens: 512
    kvstore:
      store: consul
      consul:
        host: consul:8500
    replication_factor: 1

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: consul
      consul:
        host: consul:8500

blocks_storage:
  backend: s3

  tsdb:
    dir: /data/mimir-tsdb-ingester
    ship_interval: 1m
    block_ranges_period: [ 2h ]
    retention_period: 3h

  bucket_store:
    sync_dir: /data/mimir-tsdb-querier

  s3:
    endpoint:          minio:9000
    bucket_name:       mimir-tsdb
    access_key_id:     mimir
    secret_access_key: supersecret
    insecure:          true

ruler:
  poll_interval: 2s
  ring:
    kvstore:
      store: consul
      consul:
        host: consul:8500

ruler_storage:
  backend: s3
  s3:
    bucket_name:       mimir-rules
    endpoint:          minio:9000
    access_key_id:     mimir
    secret_access_key: supersecret
    insecure: true

limits:
  native_histograms_ingestion_enabled: true
  max_global_exemplars_per_user: 100000
  otel_metric_suffixes_enabled: true
  otel_created_timestamp_zero_ingestion_enabled: true

runtime_config:
  file: ./config/runtime.yaml
