<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Grafana Mimir</title>

    <link rel="stylesheet" href="{{ AddPathPrefix "/static/bootstrap-3.4.1.min.css" }}">
    <link rel="stylesheet" href="{{ AddPathPrefix "/static/bootstrap-theme-3.4.1.min.css" }}">
    <link rel="stylesheet" href="{{ AddPathPrefix "/static/mimir-styles.css" }}">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>
            Grafana Mimir Admin
            <img alt="Mimir logo" class="mimir-brand pull-right" src="{{ AddPathPrefix "/static/mimir-icon.png" }}">
        </h1>
    </div>
    <dl class="dl-horizontal">
    {{ range $i, $ := . }}
        {{- /*gotype: github.com/grafana/mimir/pkg/api.IndexPageLinkGroup */ -}}
        {{ if $i }}
            <hr>
        {{ end }}
            <dt><h2>{{ .Desc }}</h2></dt>
            {{ range .Links }}
                <dd>
                    <a href="{{ AddPathPrefix .Path }}">{{ .Desc }}</a>
                    {{ if .Dangerous }}<span class="label label-danger">Dangerous</span>{{ end }}
                </dd>
            {{ end }}
    {{ end }}
    </dl>
</div>

<script src="{{ AddPathPrefix "/static/jquery-1.12.4.min.js" }}"></script>
<script src="{{ AddPathPrefix "/static/bootstrap-3.4.1.min.js" }}"></script>
</body>
</html>