apiVersion: v2
version: 2.1.0-beta.3
appVersion: 2.0.0
description: "Grafana Mimir"
engine: gotpl
home: https://grafana.com/docs/mimir/v2.0.x/
icon: https://grafana.com/static/img/logos/logo-mimir.svg
kubeVersion: ^1.10.0-0
name: mimir-distributed
dependencies:
  - name: memcached
    alias: memcached
    version: 5.5.2
    repository: https://charts.bitnami.com/bitnami
    condition: memcached.enabled
  - name: memcached
    alias: memcached-queries
    version: 5.5.2
    repository: https://charts.bitnami.com/bitnami
    condition: memcached-queries.enabled
  - name: memcached
    alias: memcached-metadata
    version: 5.5.2
    repository: https://charts.bitnami.com/bitnami
    condition: memcached-metadata.enabled
  - name: minio
    alias: minio
    version: 8.0.10
    repository: https://helm.min.io/
    condition: minio.enabled
