apiVersion: v2
version: 3.2.0-rc.0
appVersion: 2.4.0
description: "Grafana Mimir"
home: https://grafana.com/docs/mimir/v2.4.x/
icon: https://grafana.com/static/img/logos/logo-mimir.svg
kubeVersion: ^1.20.0-0
name: mimir-distributed
dependencies:
  - name: minio
    alias: minio
    version: 4.0.12
    repository: https://charts.min.io/
    condition: minio.enabled
  - name: grafana-agent-operator
    alias: grafana-agent-operator
    version: 0.2.5
    repository: https://grafana.github.io/helm-charts
    condition: metaMonitoring.grafanaAgent.installOperator
