apiVersion: v2
version: 5.4.0-weekly.295
appVersion: r295
description: "Grafana Mimir"
home: https://grafana.com/docs/helm-charts/mimir-distributed/latest/
icon: https://grafana.com/static/img/logos/logo-mimir.svg
kubeVersion: ^1.20.0-0
name: mimir-distributed
dependencies:
  - name: minio
    alias: minio
    version: 5.0.14
    repository: https://charts.min.io/
    condition: minio.enabled
  - name: grafana-agent-operator
    alias: grafana-agent-operator
    version: 0.3.21
    repository: https://grafana.github.io/helm-charts
    condition: metaMonitoring.grafanaAgent.installOperator
  - name: rollout-operator
    alias: rollout_operator
    repository: https://grafana.github.io/helm-charts
    version: 0.16.0
    condition: rollout_operator.enabled
