# SPDX-License-Identifier: AGPL-3.0-only
# Provenance-includes-location: https://github.com/cortexproject/cortex/blob/master/packaging/deb/systemd/cortex.service
# Provenance-includes-license: Apache-2.0
# Provenance-includes-copyright: The Cortex Authors.

[Unit]
Description=Horizontally scalable, highly available, multi-tenant, long term Prometheus.
Documentation=https://grafana.com/oss/mimir/
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
Type=notify
TimeoutStartSec=20min
User=mimir
EnvironmentFile=$OS_ENV_DIR/mimir
ExecStart=/usr/local/bin/mimir --config.file=/etc/mimir/config.yml --runtime-config.file=/etc/mimir/runtime_config.yml --log.level $LOG_LEVEL $CUSTOM_ARGS
TimeoutStopSec=20s
SendSIGKILL=no
WorkingDirectory=/var/lib/mimir

[Install]
WantedBy=multi-user.target
