{{- if .Values.enterprise.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "mimir.resourceName" (dict "ctx" . "component" "gateway") }}
  labels:
    {{- include "mimir.labels" (dict "ctx" . "component" "gateway") | nindent 4 }}
    {{- with .Values.gateway.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- toYaml .Values.gateway.service.annotations | nindent 4 }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.gateway.service.port | default (include "mimir.serverHttpListenPort" . ) }}
      protocol: TCP
      name: http-metrics
      targetPort: http-metrics
  selector:
    {{- include "mimir.selectorLabels" (dict "ctx" . "component" "gateway") | nindent 4 }}
{{- end -}}
