{{- if and (not .Values.query_scheduler.enabled) .Values.query_frontend.enabled (not .Values.federation_frontend.disableOtherComponents) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "mimir.resourceName" (dict "ctx" . "component" "query-frontend") }}-headless
  labels:
    {{- include "mimir.labels" (dict "ctx" . "component" "query-frontend") | nindent 4 }}
    prometheus.io/service-monitor: "false"
    {{- with .Values.query_frontend.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- toYaml .Values.query_frontend.service.annotations | nindent 4 }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - port: {{ include "mimir.serverHttpListenPort" .}}
      protocol: TCP
      name: http-metrics
      targetPort: http-metrics
    - port: {{ include "mimir.serverGrpcListenPort" . }}
      protocol: TCP
      name: grpc
      targetPort: grpc
    {{- if .Values.query_frontend.service.extraPorts }}
    {{- toYaml .Values.query_frontend.service.extraPorts | nindent 4 }}
    {{- end }}
  selector:
    {{- include "mimir.selectorLabels" (dict "ctx" . "component" "query-frontend") | nindent 4 }}
{{- end }}
