"services":
  "alertmanager-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=alertmanager -activity-tracker.filepath=/activity/alertmanager-1 -alertmanager.web.external-url=http://localhost:8041/alertmanager"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "alertmanager-1"
    "image": "mimir"
    "ports":
      - "8041:8080"
      - "11041:11041"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "block-builder-0":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=block-builder -activity-tracker.filepath=/activity/block-builder-0"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "block-builder-0"
    "image": "mimir"
    "ports":
      - "8009:8080"
      - "11009:11009"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "block-builder-scheduler-0":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=block-builder-scheduler -activity-tracker.filepath=/activity/block-builder-scheduler-0"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "block-builder-scheduler-0"
    "image": "mimir"
    "ports":
      - "8010:8080"
      - "11010:11010"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "compactor":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=compactor -activity-tracker.filepath=/activity/compactor"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "compactor"
    "image": "mimir"
    "ports":
      - "8006:8080"
      - "11006:11006"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "distributor-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=distributor -activity-tracker.filepath=/activity/distributor-1"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "distributor-1"
    "image": "mimir"
    "ports":
      - "8000:8080"
      - "11000:11000"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "grafana":
    "environment":
      - "GF_AUTH_ANONYMOUS_ENABLED=true"
      - "GF_AUTH_ANONYMOUS_ORG_ROLE=Admin"
    "image": "grafana/grafana:10.4.3"
    "ports":
      - "3000:3000"
    "volumes":
      - "./config/datasource-mimir.yaml:/etc/grafana/provisioning/datasources/mimir.yaml"
      - "./config/grafana-provisioning.yaml:/etc/grafana/provisioning/dashboards/local.yml"
      - "../../operations/mimir-mixin-compiled/dashboards:/var/lib/grafana/dashboards"
  "grafana-agent":
    "command":
      - "run"
      - "--storage.path=/tmp"
      - "--server.http.listen-addr=127.0.0.1:9091"
      - "/etc/agent-config/grafana-agent.flow"
    "environment":
      "AGENT_MODE": "flow"
    "image": "grafana/agent:v0.40.0"
    "ports":
      - "9091:9091"
    "volumes":
      - "./config:/etc/agent-config"
  "ingester-zone-a-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=ingester -activity-tracker.filepath=/activity/ingester-zone-a-1 -ingester.ring.instance-availability-zone=zone-a"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "ingester-zone-a-1"
    "image": "mimir"
    "ports":
      - "8002:8080"
      - "11002:11002"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
      - ".data-ingester-zone-a-1:/data:delegated"
  "ingester-zone-b-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=ingester -activity-tracker.filepath=/activity/ingester-zone-b-1 -ingester.ring.instance-availability-zone=zone-b"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "ingester-zone-b-1"
    "image": "mimir"
    "ports":
      - "8003:8080"
      - "11003:11003"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
      - ".data-ingester-zone-b-1:/data:delegated"
  "kafka_1":
    "environment":
      - "CLUSTER_ID=zH1GDqcNTzGMDCXm5VZQdg"
      - "KAFKA_NUM_PARTITIONS=100"
      - "KAFKA_PROCESS_ROLES=broker,controller"
      - "KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      - "KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT"
      - "KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER"
      - "KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka_1:9093,2@kafka_2:9093,3@kafka_3:9093"
      - "KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=2"
      - "KAFKA_DEFAULT_REPLICATION_FACTOR=2"
      - "KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS=10000"
      - "KAFKA_BROKER_ID=1"
      - "KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://:29092"
      - "KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka_1:9092,PLAINTEXT_HOST://localhost:29092"
    "healthcheck":
      "interval": "1s"
      "retries": "30"
      "start_period": "1s"
      "test": "kafka-broker-api-versions --bootstrap-server localhost:9092 || exit 1"
      "timeout": "1s"
    "image": "confluentinc/cp-kafka:latest"
    "ports":
      - "29092:29092"
  "kafka_2":
    "environment":
      - "CLUSTER_ID=zH1GDqcNTzGMDCXm5VZQdg"
      - "KAFKA_NUM_PARTITIONS=100"
      - "KAFKA_PROCESS_ROLES=broker,controller"
      - "KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      - "KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT"
      - "KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER"
      - "KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka_1:9093,2@kafka_2:9093,3@kafka_3:9093"
      - "KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=2"
      - "KAFKA_DEFAULT_REPLICATION_FACTOR=2"
      - "KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS=10000"
      - "KAFKA_BROKER_ID=2"
      - "KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://:29093"
      - "KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka_2:9092,PLAINTEXT_HOST://localhost:29093"
    "healthcheck":
      "interval": "1s"
      "retries": "30"
      "start_period": "1s"
      "test": "kafka-broker-api-versions --bootstrap-server localhost:9092 || exit 1"
      "timeout": "1s"
    "image": "confluentinc/cp-kafka:latest"
    "ports":
      - "29093:29093"
  "kafka_3":
    "environment":
      - "CLUSTER_ID=zH1GDqcNTzGMDCXm5VZQdg"
      - "KAFKA_NUM_PARTITIONS=100"
      - "KAFKA_PROCESS_ROLES=broker,controller"
      - "KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      - "KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT"
      - "KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER"
      - "KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka_1:9093,2@kafka_2:9093,3@kafka_3:9093"
      - "KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=2"
      - "KAFKA_DEFAULT_REPLICATION_FACTOR=2"
      - "KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS=10000"
      - "KAFKA_BROKER_ID=3"
      - "KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://:29094"
      - "KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka_3:9092,PLAINTEXT_HOST://localhost:29094"
    "healthcheck":
      "interval": "1s"
      "retries": "30"
      "start_period": "1s"
      "test": "kafka-broker-api-versions --bootstrap-server localhost:9092 || exit 1"
      "timeout": "1s"
    "image": "confluentinc/cp-kafka:latest"
    "ports":
      - "29094:29094"
  "memcached":
    "image": "memcached:1.6.19-alpine"
  "minio":
    "command":
      - "server"
      - "--console-address"
      - ":9001"
      - "/data"
    "environment":
      - "MINIO_ROOT_USER=mimir"
      - "MINIO_ROOT_PASSWORD=supersecret"
    "image": "minio/minio:RELEASE.2025-05-24T17-08-30Z"
    "ports":
      - "9000:9000"
      - "9001:9001"
    "volumes":
      - ".data-minio:/data:delegated"
  "nginx":
    "depends_on":
      - "distributor-1"
      - "ingester-zone-a-1"
      - "alertmanager-1"
      - "ruler-1"
      - "query-frontend"
      - "compactor"
      - "grafana"
    "environment":
      - "NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx"
      - "DISTRIBUTOR_HOST=distributor-1:8080"
      - "ALERT_MANAGER_HOST=alertmanager-1:8080"
      - "RULER_HOST=ruler-1:8080"
      - "QUERY_FRONTEND_HOST=query-frontend:8080"
      - "COMPACTOR_HOST=compactor:8080"
    "hostname": "nginx"
    "image": "nginxinc/nginx-unprivileged:1.22-alpine"
    "ports":
      - "8080:8080"
    "volumes":
      - "../common/config:/etc/nginx/templates"
  "querier":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=querier -activity-tracker.filepath=/activity/querier"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "querier"
    "image": "mimir"
    "ports":
      - "8005:8080"
      - "11005:11005"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "query-frontend":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=query-frontend -activity-tracker.filepath=/activity/query-frontend"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "query-frontend"
    "image": "mimir"
    "ports":
      - "8007:8080"
      - "11007:11007"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "query-scheduler":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=query-scheduler -activity-tracker.filepath=/activity/query-scheduler"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "query-scheduler"
    "image": "mimir"
    "ports":
      - "8008:8080"
      - "11008:11008"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "redpanda_console":
    "environment":
      - "KAFKA_BROKERS=kafka_1:9092,kafka_2:9092,kafka_3:9092"
    "image": "docker.redpanda.com/redpandadata/console:latest"
    "ports":
      - "8090:8080"
  "ruler-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=ruler -activity-tracker.filepath=/activity/ruler-1"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "ruler-1"
    "image": "mimir"
    "ports":
      - "8031:8080"
      - "11031:11031"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "store-gateway-zone-a-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=store-gateway -activity-tracker.filepath=/activity/store-gateway-zone-a-1 -store-gateway.sharding-ring.instance-availability-zone=zone-a"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "store-gateway-zone-a-1"
    "image": "mimir"
    "ports":
      - "8021:8080"
      - "11021:11021"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "store-gateway-zone-b-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=store-gateway -activity-tracker.filepath=/activity/store-gateway-zone-b-1 -store-gateway.sharding-ring.instance-availability-zone=zone-b"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "store-gateway-zone-b-1"
    "image": "mimir"
    "ports":
      - "8051:8080"
      - "11051:11051"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "tempo":
    "command":
      - "-config.file=/etc/config/tempo.yaml"
    "image": "grafana/tempo:latest"
    "ports":
      - "3200"
      - "9095"
      - "4317"
      - "4318"
    "volumes":
      - "./config:/etc/config"
  "usage-tracker-zone-a-0":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=usage-tracker -activity-tracker.filepath=/activity/usage-tracker-zone-a-0 -usage-tracker.instance-ring.instance-availability-zone=zone-a -usage-tracker.partitions=16 -usage-tracker.partition-reconcile-interval=10s -usage-tracker.lost-partitions-shutdown-grace-period=30s"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "usage-tracker-zone-a-0"
    "image": "mimir"
    "ports":
      - "8011:8080"
      - "11011:11011"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "usage-tracker-zone-a-1":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=usage-tracker -activity-tracker.filepath=/activity/usage-tracker-zone-a-1 -usage-tracker.instance-ring.instance-availability-zone=zone-a -usage-tracker.partitions=16 -usage-tracker.partition-reconcile-interval=10s -usage-tracker.lost-partitions-shutdown-grace-period=30s"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "usage-tracker-zone-a-1"
    "image": "mimir"
    "ports":
      - "8012:8080"
      - "11012:11012"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
  "usage-tracker-zone-b-0":
    "build":
      "context": "."
      "dockerfile": "dev.dockerfile"
    "command":
      - "sh"
      - "-c"
      - "exec ./mimir -config.file=./config/mimir.yaml -target=usage-tracker -activity-tracker.filepath=/activity/usage-tracker-zone-b-0 -usage-tracker.instance-ring.instance-availability-zone=zone-b -usage-tracker.partitions=16 -usage-tracker.partition-reconcile-interval=10s -usage-tracker.lost-partitions-shutdown-grace-period=30s"
    "depends_on":
      "kafka_1":
        "condition": "service_healthy"
      "kafka_2":
        "condition": "service_healthy"
      "minio":
        "condition": "service_started"
    "environment":
      - "OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://tempo:4318/v1/traces"
    "hostname": "usage-tracker-zone-b-0"
    "image": "mimir"
    "ports":
      - "8013:8080"
      - "11013:11013"
    "volumes":
      - "./config:/mimir/config"
      - "./activity:/activity"
