resources:
  - ../06-services

components:
  - ../../components/pods

patches:
  # TODO(logiraptor): Jsonnet sets POD_IP on the alertmanager
  - target:
      name: mimir-alertmanager
      kind: StatefulSet
    patch: |-
      - op: remove
        path: /spec/template/spec/containers/0/env

  # TODO(logiraptor): Jsonnet uses a deprecated PodDisruptionBudget api version
  - target:
      name: mimir-(ingester|store-gateway)
      kind: PodDisruptionBudget
      version: v1beta1
      group: policy
    patch: |-
      - op: replace
        path: /apiVersion
        value: policy/v1
