<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Block Builder Scheduler Status</title>
</head>
<body>
<h1>Block Builder Scheduler Status</h1>
<p>{{ .Message }}</p>
</body>
</html>
