{{- if and .Values.ruler.enabled (not .Values.federation_frontend.disableOtherComponents) -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "mimir.resourceName" (dict "ctx" . "component" "ruler") }}
  labels:
    {{- include "mimir.labels" (dict "ctx" . "component" "ruler" "memberlist" true) | nindent 4 }}
    {{- with .Values.ruler.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- toYaml .Values.ruler.service.annotations | nindent 4 }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  type: {{ .Values.ruler.service.type }}
  {{- if semverCompare ">= 1.22-0" (include "mimir.kubeVersion" .) }}
  internalTrafficPolicy: {{ .Values.ruler.service.internalTrafficPolicy }}
  {{- end }}
  ports:
    - port: {{ include "mimir.serverHttpListenPort" . }}
      protocol: TCP
      name: http-metrics
      targetPort: http-metrics
    {{- if .Values.ruler.service.extraPorts }}
    {{- toYaml .Values.ruler.service.extraPorts | nindent 4 }}
    {{- end }}
  selector:
    {{- include "mimir.selectorLabels" (dict "ctx" . "component" "ruler" "memberlist" true) | nindent 4 }}
{{- end -}}
