# Pin kube version so results are the same for running in CI and locally where the installed kube version may be different.
kubeVersionOverride: "1.29"

store_gateway:
  enabled: true
  persistentVolume:
    enabled: false
    emptyDir:
      medium: Memory
      sizeLimit: 1Gi
