Usage of ./cmd/mimir/mimir:
  -activity-tracker.filepath string
    	File where ongoing activities are stored. If empty, activity tracking is disabled. (default "./metrics-activity.log")
  -alertmanager-storage.azure.account-key string
    	Azure storage account key. If unset, Azure managed identities will be used for authentication instead.
  -alertmanager-storage.azure.account-name string
    	Azure storage account name
  -alertmanager-storage.azure.connection-string string
    	If `connection-string` is set, the value of `endpoint-suffix` will not be used. Use this method over `account-key` if you need to authenticate via a SAS token. Or if you use the Azurite emulator.
  -alertmanager-storage.azure.container-name string
    	Azure storage container name
  -alertmanager-storage.azure.endpoint-suffix string
    	Azure storage endpoint suffix without schema. The account name will be prefixed to this value to create the FQDN. If set to empty string, default endpoint suffix is used.
  -alertmanager-storage.backend string
    	Backend storage to use. Supported backends are: s3, gcs, azure, swift, filesystem, local. (default "filesystem")
  -alertmanager-storage.filesystem.dir string
    	Local filesystem storage directory. (default "alertmanager")
  -alertmanager-storage.gcs.bucket-name string
    	GCS bucket name
  -alertmanager-storage.gcs.service-account string
    	JSON either from a Google Developers Console client_credentials.json file, or a Google Developers service account key. Needs to be valid JSON, not a filesystem path.
  -alertmanager-storage.local.path string
    	Path at which alertmanager configurations are stored.
  -alertmanager-storage.s3.access-key-id string
    	S3 access key ID
  -alertmanager-storage.s3.bucket-name string
    	S3 bucket name
  -alertmanager-storage.s3.endpoint string
    	The S3 bucket endpoint. It could be an AWS S3 endpoint listed at https://docs.aws.amazon.com/general/latest/gr/s3.html or the address of an S3-compatible service in hostname:port format.
  -alertmanager-storage.s3.region string
    	S3 region. If unset, the client will issue a S3 GetBucketLocation API call to autodetect it.
  -alertmanager-storage.s3.secret-access-key string
    	S3 secret access key
  -alertmanager-storage.s3.session-token string
    	S3 session token
  -alertmanager-storage.s3.sse.kms-encryption-context string
    	KMS Encryption Context used for object encryption. It expects JSON formatted string.
  -alertmanager-storage.s3.sse.kms-key-id string
    	KMS Key ID used to encrypt objects in S3
  -alertmanager-storage.s3.sse.type string
    	Enable AWS Server Side Encryption. Supported values: SSE-KMS, SSE-S3.
  -alertmanager-storage.s3.sts-endpoint string
    	Accessing S3 resources using temporary, secure credentials provided by AWS Security Token Service.
  -alertmanager-storage.storage-prefix string
    	Prefix for all objects stored in the backend storage. For simplicity, it may only contain digits and English alphabet letters.
  -alertmanager-storage.swift.application-credential-id string
    	OpenStack Swift application credential id
  -alertmanager-storage.swift.application-credential-name string
    	OpenStack Swift application credential name
  -alertmanager-storage.swift.application-credential-secret string
    	OpenStack Swift application credential secret
  -alertmanager-storage.swift.auth-url string
    	OpenStack Swift authentication URL
  -alertmanager-storage.swift.auth-version int
    	OpenStack Swift authentication API version. 0 to autodetect.
  -alertmanager-storage.swift.container-name string
    	Name of the OpenStack Swift container to put chunks in.
  -alertmanager-storage.swift.domain-id string
    	OpenStack Swift user's domain ID.
  -alertmanager-storage.swift.domain-name string
    	OpenStack Swift user's domain name.
  -alertmanager-storage.swift.password string
    	OpenStack Swift API key.
  -alertmanager-storage.swift.project-domain-id string
    	ID of the OpenStack Swift project's domain (v3 auth only), only needed if it differs the from user domain.
  -alertmanager-storage.swift.project-domain-name string
    	Name of the OpenStack Swift project's domain (v3 auth only), only needed if it differs from the user domain.
  -alertmanager-storage.swift.project-id string
    	OpenStack Swift project ID (v2,v3 auth only).
  -alertmanager-storage.swift.project-name string
    	OpenStack Swift project name (v2,v3 auth only).
  -alertmanager-storage.swift.region-name string
    	OpenStack Swift Region to use (v2,v3 auth only).
  -alertmanager-storage.swift.user-domain-id string
    	OpenStack Swift user's domain ID.
  -alertmanager-storage.swift.user-domain-name string
    	OpenStack Swift user's domain name.
  -alertmanager-storage.swift.user-id string
    	OpenStack Swift user ID.
  -alertmanager-storage.swift.username string
    	OpenStack Swift username.
  -alertmanager.configs.fallback string
    	Filename of fallback config to use if none specified for instance.
  -alertmanager.max-alerts-count int
    	Maximum number of alerts that a single tenant can have. Inserting more alerts will fail with a log message and metric increment. 0 = no limit.
  -alertmanager.max-alerts-size-bytes int
    	Maximum total size of alerts that a single tenant can have, alert size is the sum of the bytes of its labels, annotations and generatorURL. Inserting more alerts will fail with a log message and metric increment. 0 = no limit.
  -alertmanager.max-config-size-bytes int
    	Maximum size of the Alertmanager configuration for a tenant. 0 = no limit.
  -alertmanager.max-dispatcher-aggregation-groups int
    	Maximum number of aggregation groups in Alertmanager's dispatcher that a tenant can have. Each active aggregation group uses single goroutine. When the limit is reached, dispatcher will not dispatch alerts that belong to additional aggregation groups, but existing groups will keep working properly. 0 = no limit.
  -alertmanager.max-grafana-config-size-bytes value
    	Maximum size of the Grafana Alertmanager configuration for a tenant. 0 = no limit.
  -alertmanager.max-grafana-state-size-bytes value
    	Maximum size of the Grafana Alertmanager state for a tenant. 0 = no limit.
  -alertmanager.max-silence-size-bytes int
    	Maximum silence size in bytes. 0 = no limit.
  -alertmanager.max-silences-count int
    	Maximum number of silences, including expired silences, that a tenant can have at once. 0 = no limit.
  -alertmanager.max-template-size-bytes int
    	Maximum size of single template in tenant's Alertmanager configuration uploaded via Alertmanager API. 0 = no limit.
  -alertmanager.max-templates-count int
    	Maximum number of templates in tenant's Alertmanager configuration uploaded via Alertmanager API. 0 = no limit.
  -alertmanager.notification-rate-limit float
    	Per-tenant rate limit for sending notifications from Alertmanager in notifications/sec. 0 = rate limit disabled. Negative value = no notifications are allowed.
  -alertmanager.notification-rate-limit-per-integration value
    	Per-integration notification rate limits. Value is a map, where each key is integration name and value is a rate-limit (float). On command line, this map is given in JSON format. Rate limit has the same meaning as -alertmanager.notification-rate-limit, but only applies for specific integration. Allowed integration names: webhook, email, pagerduty, opsgenie, wechat, slack, victorops, pushover, sns, webex, telegram, discord, msteams. (default {})
  -alertmanager.receivers-firewall-block-cidr-networks comma-separated-list-of-strings
    	Comma-separated list of network CIDRs to block in Alertmanager receiver integrations.
  -alertmanager.receivers-firewall-block-private-addresses
    	True to block private and local addresses in Alertmanager receiver integrations. It blocks private addresses defined by  RFC 1918 (IPv4 addresses) and RFC 4193 (IPv6 addresses), as well as loopback, local unicast and local multicast addresses.
  -alertmanager.sharding-ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -alertmanager.sharding-ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -alertmanager.sharding-ring.etcd.password string
    	Etcd password.
  -alertmanager.sharding-ring.etcd.username string
    	Etcd username.
  -alertmanager.sharding-ring.instance-interface-names string
    	List of network interface names to look up when finding the instance IP address. (default [<private network interfaces>])
  -alertmanager.sharding-ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -alertmanager.storage.path string
    	Directory to store Alertmanager state and temporarily configuration files. The content of this directory is not required to be persisted between restarts unless Alertmanager replication has been disabled. (default "./data-alertmanager/")
  -alertmanager.web.external-url string
    	The URL under which Alertmanager is externally reachable (eg. could be different than -http.alertmanager-http-prefix in case Alertmanager is served via a reverse proxy). This setting is used both to configure the internal requests router and to generate links in alert templates. If the external URL has a path portion, it will be used to prefix all HTTP endpoints served by Alertmanager, both the UI and API. (default http://localhost:8080/alertmanager)
  -auth.multitenancy-enabled
    	When set to true, incoming HTTP requests must specify tenant ID in HTTP X-Scope-OrgId header. When set to false, tenant ID from -auth.no-auth-tenant is used instead. (default true)
  -blocks-storage.azure.account-key string
    	Azure storage account key. If unset, Azure managed identities will be used for authentication instead.
  -blocks-storage.azure.account-name string
    	Azure storage account name
  -blocks-storage.azure.connection-string string
    	If `connection-string` is set, the value of `endpoint-suffix` will not be used. Use this method over `account-key` if you need to authenticate via a SAS token. Or if you use the Azurite emulator.
  -blocks-storage.azure.container-name string
    	Azure storage container name
  -blocks-storage.azure.endpoint-suffix string
    	Azure storage endpoint suffix without schema. The account name will be prefixed to this value to create the FQDN. If set to empty string, default endpoint suffix is used.
  -blocks-storage.backend string
    	Backend storage to use. Supported backends are: s3, gcs, azure, swift, filesystem. (default "filesystem")
  -blocks-storage.bucket-store.chunks-cache.backend string
    	Backend for chunks cache, if not empty. Supported values: memcached, redis.
  -blocks-storage.bucket-store.chunks-cache.memcached.addresses comma-separated-list-of-strings
    	Comma-separated list of memcached addresses. Each address can be an IP address, hostname, or an entry specified in the DNS Service Discovery format.
  -blocks-storage.bucket-store.chunks-cache.memcached.connect-timeout duration
    	The connection timeout. (default 200ms)
  -blocks-storage.bucket-store.chunks-cache.memcached.timeout duration
    	The socket read/write timeout. (default 200ms)
  -blocks-storage.bucket-store.index-cache.backend string
    	The index cache backend type. Supported values: inmemory, memcached, redis. (default "inmemory")
  -blocks-storage.bucket-store.index-cache.inmemory.max-size-bytes uint
    	Maximum size in bytes of in-memory index cache used to speed up blocks index lookups (shared between all tenants). (default 1073741824)
  -blocks-storage.bucket-store.index-cache.memcached.addresses comma-separated-list-of-strings
    	Comma-separated list of memcached addresses. Each address can be an IP address, hostname, or an entry specified in the DNS Service Discovery format.
  -blocks-storage.bucket-store.index-cache.memcached.connect-timeout duration
    	The connection timeout. (default 200ms)
  -blocks-storage.bucket-store.index-cache.memcached.timeout duration
    	The socket read/write timeout. (default 200ms)
  -blocks-storage.bucket-store.metadata-cache.backend string
    	Backend for metadata cache, if not empty. Supported values: memcached, redis.
  -blocks-storage.bucket-store.metadata-cache.memcached.addresses comma-separated-list-of-strings
    	Comma-separated list of memcached addresses. Each address can be an IP address, hostname, or an entry specified in the DNS Service Discovery format.
  -blocks-storage.bucket-store.metadata-cache.memcached.connect-timeout duration
    	The connection timeout. (default 200ms)
  -blocks-storage.bucket-store.metadata-cache.memcached.timeout duration
    	The socket read/write timeout. (default 200ms)
  -blocks-storage.bucket-store.sync-dir string
    	Directory to store synchronized TSDB index headers. This directory is not required to be persisted between restarts, but it's highly recommended in order to improve the store-gateway startup time. (default "./tsdb-sync/")
  -blocks-storage.filesystem.dir string
    	Local filesystem storage directory. (default "blocks")
  -blocks-storage.gcs.bucket-name string
    	GCS bucket name
  -blocks-storage.gcs.service-account string
    	JSON either from a Google Developers Console client_credentials.json file, or a Google Developers service account key. Needs to be valid JSON, not a filesystem path.
  -blocks-storage.s3.access-key-id string
    	S3 access key ID
  -blocks-storage.s3.bucket-name string
    	S3 bucket name
  -blocks-storage.s3.endpoint string
    	The S3 bucket endpoint. It could be an AWS S3 endpoint listed at https://docs.aws.amazon.com/general/latest/gr/s3.html or the address of an S3-compatible service in hostname:port format.
  -blocks-storage.s3.region string
    	S3 region. If unset, the client will issue a S3 GetBucketLocation API call to autodetect it.
  -blocks-storage.s3.secret-access-key string
    	S3 secret access key
  -blocks-storage.s3.session-token string
    	S3 session token
  -blocks-storage.s3.sse.kms-encryption-context string
    	KMS Encryption Context used for object encryption. It expects JSON formatted string.
  -blocks-storage.s3.sse.kms-key-id string
    	KMS Key ID used to encrypt objects in S3
  -blocks-storage.s3.sse.type string
    	Enable AWS Server Side Encryption. Supported values: SSE-KMS, SSE-S3.
  -blocks-storage.s3.sts-endpoint string
    	Accessing S3 resources using temporary, secure credentials provided by AWS Security Token Service.
  -blocks-storage.storage-prefix string
    	Prefix for all objects stored in the backend storage. For simplicity, it may only contain digits and English alphabet letters.
  -blocks-storage.swift.application-credential-id string
    	OpenStack Swift application credential id
  -blocks-storage.swift.application-credential-name string
    	OpenStack Swift application credential name
  -blocks-storage.swift.application-credential-secret string
    	OpenStack Swift application credential secret
  -blocks-storage.swift.auth-url string
    	OpenStack Swift authentication URL
  -blocks-storage.swift.auth-version int
    	OpenStack Swift authentication API version. 0 to autodetect.
  -blocks-storage.swift.container-name string
    	Name of the OpenStack Swift container to put chunks in.
  -blocks-storage.swift.domain-id string
    	OpenStack Swift user's domain ID.
  -blocks-storage.swift.domain-name string
    	OpenStack Swift user's domain name.
  -blocks-storage.swift.password string
    	OpenStack Swift API key.
  -blocks-storage.swift.project-domain-id string
    	ID of the OpenStack Swift project's domain (v3 auth only), only needed if it differs the from user domain.
  -blocks-storage.swift.project-domain-name string
    	Name of the OpenStack Swift project's domain (v3 auth only), only needed if it differs from the user domain.
  -blocks-storage.swift.project-id string
    	OpenStack Swift project ID (v2,v3 auth only).
  -blocks-storage.swift.project-name string
    	OpenStack Swift project name (v2,v3 auth only).
  -blocks-storage.swift.region-name string
    	OpenStack Swift Region to use (v2,v3 auth only).
  -blocks-storage.swift.user-domain-id string
    	OpenStack Swift user's domain ID.
  -blocks-storage.swift.user-domain-name string
    	OpenStack Swift user's domain name.
  -blocks-storage.swift.user-id string
    	OpenStack Swift user ID.
  -blocks-storage.swift.username string
    	OpenStack Swift username.
  -blocks-storage.tsdb.dir string
    	Directory to store TSDBs (including WAL) in the ingesters. This directory is required to be persisted between restarts. (default "./tsdb/")
  -blocks-storage.tsdb.retention-period duration
    	TSDB blocks retention in the ingester before a block is removed. If shipping is enabled, the retention will be relative to the time when the block was uploaded to storage. If shipping is disabled then its relative to the creation time of the block. This should be larger than the -blocks-storage.tsdb.block-ranges-period, -querier.query-store-after and large enough to give store-gateways and queriers enough time to discover newly uploaded blocks. (default 13h0m0s)
  -common.storage.azure.account-key string
    	Azure storage account key. If unset, Azure managed identities will be used for authentication instead.
  -common.storage.azure.account-name string
    	Azure storage account name
  -common.storage.azure.connection-string string
    	If `connection-string` is set, the value of `endpoint-suffix` will not be used. Use this method over `account-key` if you need to authenticate via a SAS token. Or if you use the Azurite emulator.
  -common.storage.azure.container-name string
    	Azure storage container name
  -common.storage.azure.endpoint-suffix string
    	Azure storage endpoint suffix without schema. The account name will be prefixed to this value to create the FQDN. If set to empty string, default endpoint suffix is used.
  -common.storage.backend string
    	Backend storage to use. Supported backends are: s3, gcs, azure, swift, filesystem. (default "filesystem")
  -common.storage.filesystem.dir string
    	Local filesystem storage directory.
  -common.storage.gcs.bucket-name string
    	GCS bucket name
  -common.storage.gcs.service-account string
    	JSON either from a Google Developers Console client_credentials.json file, or a Google Developers service account key. Needs to be valid JSON, not a filesystem path.
  -common.storage.s3.access-key-id string
    	S3 access key ID
  -common.storage.s3.bucket-name string
    	S3 bucket name
  -common.storage.s3.endpoint string
    	The S3 bucket endpoint. It could be an AWS S3 endpoint listed at https://docs.aws.amazon.com/general/latest/gr/s3.html or the address of an S3-compatible service in hostname:port format.
  -common.storage.s3.region string
    	S3 region. If unset, the client will issue a S3 GetBucketLocation API call to autodetect it.
  -common.storage.s3.secret-access-key string
    	S3 secret access key
  -common.storage.s3.session-token string
    	S3 session token
  -common.storage.s3.sse.kms-encryption-context string
    	KMS Encryption Context used for object encryption. It expects JSON formatted string.
  -common.storage.s3.sse.kms-key-id string
    	KMS Key ID used to encrypt objects in S3
  -common.storage.s3.sse.type string
    	Enable AWS Server Side Encryption. Supported values: SSE-KMS, SSE-S3.
  -common.storage.s3.sts-endpoint string
    	Accessing S3 resources using temporary, secure credentials provided by AWS Security Token Service.
  -common.storage.swift.application-credential-id string
    	OpenStack Swift application credential id
  -common.storage.swift.application-credential-name string
    	OpenStack Swift application credential name
  -common.storage.swift.application-credential-secret string
    	OpenStack Swift application credential secret
  -common.storage.swift.auth-url string
    	OpenStack Swift authentication URL
  -common.storage.swift.auth-version int
    	OpenStack Swift authentication API version. 0 to autodetect.
  -common.storage.swift.container-name string
    	Name of the OpenStack Swift container to put chunks in.
  -common.storage.swift.domain-id string
    	OpenStack Swift user's domain ID.
  -common.storage.swift.domain-name string
    	OpenStack Swift user's domain name.
  -common.storage.swift.password string
    	OpenStack Swift API key.
  -common.storage.swift.project-domain-id string
    	ID of the OpenStack Swift project's domain (v3 auth only), only needed if it differs the from user domain.
  -common.storage.swift.project-domain-name string
    	Name of the OpenStack Swift project's domain (v3 auth only), only needed if it differs from the user domain.
  -common.storage.swift.project-id string
    	OpenStack Swift project ID (v2,v3 auth only).
  -common.storage.swift.project-name string
    	OpenStack Swift project name (v2,v3 auth only).
  -common.storage.swift.region-name string
    	OpenStack Swift Region to use (v2,v3 auth only).
  -common.storage.swift.user-domain-id string
    	OpenStack Swift user's domain ID.
  -common.storage.swift.user-domain-name string
    	OpenStack Swift user's domain name.
  -common.storage.swift.user-id string
    	OpenStack Swift user ID.
  -common.storage.swift.username string
    	OpenStack Swift username.
  -compactor.block-upload-enabled
    	Enable block upload API for the tenant.
  -compactor.block-upload-validation-enabled
    	Enable block upload validation for the tenant. (default true)
  -compactor.block-upload-verify-chunks
    	Verify chunks when uploading blocks via the upload API for the tenant. (default true)
  -compactor.blocks-retention-period duration
    	Delete blocks containing samples older than the specified retention period. Also used by query-frontend to avoid querying beyond the retention period by instant, range or remote read queries. 0 to disable.
  -compactor.compactor-tenant-shard-size int
    	Max number of compactors that can compact blocks for single tenant. 0 to disable the limit and use all compactors.
  -compactor.data-dir string
    	Directory to temporarily store blocks during compaction. This directory is not required to be persisted between restarts. (default "./data-compactor/")
  -compactor.first-level-compaction-wait-period duration
    	How long the compactor waits before compacting first-level blocks that are uploaded by the ingesters. This configuration option allows for the reduction of cases where the compactor begins to compact blocks before all ingesters have uploaded their blocks to the storage. (default 25m0s)
  -compactor.partial-block-deletion-delay duration
    	If a partial block (unfinished block without meta.json file) hasn't been modified for this time, it will be marked for deletion. The minimum accepted value is 4h0m0s: a lower value will be ignored and the feature disabled. 0 to disable. (default 1d)
  -compactor.ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -compactor.ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -compactor.ring.etcd.password string
    	Etcd password.
  -compactor.ring.etcd.username string
    	Etcd username.
  -compactor.ring.instance-interface-names string
    	List of network interface names to look up when finding the instance IP address. (default [<private network interfaces>])
  -compactor.ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -compactor.split-and-merge-shards int
    	The number of shards to use when splitting blocks. 0 to disable splitting.
  -compactor.split-groups int
    	Number of groups that blocks for splitting should be grouped into. Each group of blocks is then split separately. Number of output split shards is controlled by -compactor.split-and-merge-shards. (default 1)
  -config.expand-env
    	Expands ${var} or $var in config according to the values of the environment variables.
  -config.file value
    	Configuration file to load.
  -distributor.ha-tracker.cluster string
    	Prometheus label to look for in samples to identify a Prometheus HA cluster. (default "cluster")
  -distributor.ha-tracker.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -distributor.ha-tracker.enable
    	Enable the distributors HA tracker so that it can accept samples from Prometheus HA replicas gracefully (requires labels).
  -distributor.ha-tracker.enable-for-all-users
    	Flag to enable, for all tenants, handling of samples with external labels identifying replicas in an HA Prometheus setup.
  -distributor.ha-tracker.etcd.endpoints string
    	The etcd endpoints to connect to.
  -distributor.ha-tracker.etcd.password string
    	Etcd password.
  -distributor.ha-tracker.etcd.username string
    	Etcd username.
  -distributor.ha-tracker.max-clusters int
    	Maximum number of clusters that HA tracker will keep track of for a single tenant. 0 to disable the limit. (default 100)
  -distributor.ha-tracker.replica string
    	Prometheus label to look for in samples to identify a Prometheus HA replica. (default "__replica__")
  -distributor.ha-tracker.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "consul")
  -distributor.ingestion-burst-size int
    	Per-tenant allowed ingestion burst size (in number of samples). (default 200000)
  -distributor.ingestion-rate-limit float
    	Per-tenant ingestion rate limit in samples per second. (default 10000)
  -distributor.ingestion-tenant-shard-size int
    	The tenant's shard size used by shuffle-sharding. This value is the total size of the shard (ie. it is not the number of ingesters in the shard per zone, but the number of ingesters in the shard across all zones, if zone-awareness is enabled). Must be set both on ingesters and distributors. 0 disables shuffle sharding.
  -distributor.request-burst-size int
    	Per-tenant allowed push request burst size. 0 to disable.
  -distributor.request-rate-limit float
    	Per-tenant push request rate limit in requests per second. 0 to disable.
  -distributor.ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -distributor.ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -distributor.ring.etcd.password string
    	Etcd password.
  -distributor.ring.etcd.username string
    	Etcd username.
  -distributor.ring.instance-interface-names string
    	List of network interface names to look up when finding the instance IP address. (default [<private network interfaces>])
  -distributor.ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -h
    	Print basic help.
  -help
    	Print basic help.
  -help-all
    	Print help, also including advanced and experimental parameters.
  -ingest-storage.enabled
    	True to enable the ingestion via object storage.
  -ingest-storage.kafka.address string
    	The Kafka backend address.
  -ingest-storage.kafka.auto-create-topic-default-partitions int
    	When auto-creation of Kafka topic is enabled and this value is positive, Mimir will create the topic with this number of partitions. When the value is -1 the Kafka broker will use the default number of partitions (num.partitions configuration). (default -1)
  -ingest-storage.kafka.auto-create-topic-enabled
    	Enable auto-creation of Kafka topic on startup if it doesn't exist. If creating the topic fails and the topic doesn't already exist, Mimir will fail to start. (default true)
  -ingest-storage.kafka.client-id string
    	The Kafka client ID.
  -ingest-storage.kafka.consume-from-position-at-startup string
    	From which position to start consuming the partition at startup. Supported options: last-offset, start, end, timestamp. (default "last-offset")
  -ingest-storage.kafka.consume-from-timestamp-at-startup int
    	Milliseconds timestamp after which the consumption of the partition starts at startup. Only applies when consume-from-position-at-startup is timestamp
  -ingest-storage.kafka.consumer-group string
    	The consumer group used by the consumer to track the last consumed offset. The consumer group must be different for each ingester. If the configured consumer group contains the '<partition>' placeholder, it is replaced with the actual partition ID owned by the ingester. When empty (recommended), Mimir uses the ingester instance ID to guarantee uniqueness.
  -ingest-storage.kafka.consumer-group-offset-commit-interval duration
    	How frequently a consumer should commit the consumed offset to Kafka. The last committed offset is used at startup to continue the consumption from where it was left. (default 1s)
  -ingest-storage.kafka.dial-timeout duration
    	The maximum time allowed to open a connection to a Kafka broker. (default 2s)
  -ingest-storage.kafka.fetch-concurrency-max int
    	The maximum number of concurrent fetch requests that the ingester makes when reading data from Kafka during startup. Concurrent fetch requests are issued only when there is sufficient backlog of records to consume. 0 to disable.
  -ingest-storage.kafka.ingestion-concurrency-batch-size int
    	The number of timeseries to batch together before ingesting to the TSDB head. Only use this setting when -ingest-storage.kafka.ingestion-concurrency-max is greater than 0. (default 150)
  -ingest-storage.kafka.ingestion-concurrency-estimated-bytes-per-sample int
    	The estimated number of bytes a sample has at time of ingestion. This value is used to estimate the timeseries without decompressing them. Only use this setting when -ingest-storage.kafka.ingestion-concurrency-max is greater than 0. (default 500)
  -ingest-storage.kafka.ingestion-concurrency-max int
    	The maximum number of concurrent ingestion streams to the TSDB head. Every tenant has their own set of streams. 0 to disable.
  -ingest-storage.kafka.ingestion-concurrency-queue-capacity int
    	The number of batches to prepare and queue to ingest to the TSDB head. Only use this setting when -ingest-storage.kafka.ingestion-concurrency-max is greater than 0. (default 5)
  -ingest-storage.kafka.ingestion-concurrency-target-flushes-per-shard int
    	The expected number of times to ingest timeseries to the TSDB head after batching. With fewer flushes, the overhead of splitting up the work is higher than the benefit of parallelization. Only use this setting when -ingest-storage.kafka.ingestion-concurrency-max is greater than 0. (default 80)
  -ingest-storage.kafka.last-produced-offset-poll-interval duration
    	How frequently to poll the last produced offset, used to enforce strong read consistency. (default 1s)
  -ingest-storage.kafka.last-produced-offset-retry-timeout duration
    	How long to retry a failed request to get the last produced offset. (default 10s)
  -ingest-storage.kafka.max-buffered-bytes int
    	The maximum number of buffered records ready to be processed. This limit applies to the sum of all inflight requests. Set to 0 to disable the limit. (default 100000000)
  -ingest-storage.kafka.max-consumer-lag-at-startup duration
    	The guaranteed maximum lag before a consumer is considered to have caught up reading from a partition at startup, becomes ACTIVE in the hash ring and passes the readiness check. Set both -ingest-storage.kafka.target-consumer-lag-at-startup and -ingest-storage.kafka.max-consumer-lag-at-startup to 0 to disable waiting for maximum consumer lag being honored at startup. (default 15s)
  -ingest-storage.kafka.producer-max-buffered-bytes int
    	The maximum size of (uncompressed) buffered and unacknowledged produced records sent to Kafka. The produce request fails once this limit is reached. This limit is per Kafka client. 0 to disable the limit. (default 1073741824)
  -ingest-storage.kafka.producer-max-record-size-bytes int
    	The maximum size of a Kafka record data that should be generated by the producer. An incoming write request larger than this size is split into multiple Kafka records. We strongly recommend to not change this setting unless for testing purposes. (default 15983616)
  -ingest-storage.kafka.sasl-password string
    	The password used to authenticate to Kafka using the SASL plain mechanism. To enable SASL, configure both the username and password.
  -ingest-storage.kafka.sasl-username string
    	The username used to authenticate to Kafka using the SASL plain mechanism. To enable SASL, configure both the username and password.
  -ingest-storage.kafka.target-consumer-lag-at-startup duration
    	The best-effort maximum lag a consumer tries to achieve at startup. Set both -ingest-storage.kafka.target-consumer-lag-at-startup and -ingest-storage.kafka.max-consumer-lag-at-startup to 0 to disable waiting for maximum consumer lag being honored at startup. (default 2s)
  -ingest-storage.kafka.topic string
    	The Kafka topic name.
  -ingest-storage.kafka.use-compressed-bytes-as-fetch-max-bytes
    	When enabled, the fetch request MaxBytes field is computed using the compressed size of previous records. When disabled, MaxBytes is computed using uncompressed bytes. Different Kafka implementations interpret MaxBytes differently. (default true)
  -ingest-storage.kafka.wait-strong-read-consistency-timeout duration
    	The maximum allowed for a read requests processed by an ingester to wait until strong read consistency is enforced. 0 to disable the timeout. (default 20s)
  -ingest-storage.kafka.write-clients int
    	The number of Kafka clients used by producers. When the configured number of clients is greater than 1, partitions are sharded among Kafka clients. A higher number of clients may provide higher write throughput at the cost of additional Metadata requests pressure to Kafka. (default 1)
  -ingest-storage.kafka.write-timeout duration
    	How long to wait for an incoming write request to be successfully committed to the Kafka backend. (default 10s)
  -ingest-storage.migration.distributor-send-to-ingesters-enabled
    	When both this option and ingest storage are enabled, distributors write to both Kafka and ingesters. A write request is considered successful only when written to both backends.
  -ingester.max-global-metadata-per-metric int
    	The maximum number of metadata per metric, across the cluster. 0 to disable.
  -ingester.max-global-metadata-per-user int
    	The maximum number of in-memory metrics with metadata per tenant, across the cluster. 0 to disable.
  -ingester.max-global-series-per-metric int
    	The maximum number of in-memory series per metric name, across the cluster before replication. 0 to disable.
  -ingester.max-global-series-per-user int
    	The maximum number of in-memory series per tenant, across the cluster before replication. 0 to disable. (default 150000)
  -ingester.partition-ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -ingester.partition-ring.delete-inactive-partition-after duration
    	How long to wait before an INACTIVE partition is eligible for deletion. The partition is deleted only if it has been in INACTIVE state for at least the configured duration and it has no owners registered. A value of 0 disables partitions deletion. (default 13h0m0s)
  -ingester.partition-ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -ingester.partition-ring.etcd.password string
    	Etcd password.
  -ingester.partition-ring.etcd.username string
    	Etcd username.
  -ingester.partition-ring.min-partition-owners-count int
    	Minimum number of owners to wait before a PENDING partition gets switched to ACTIVE. (default 1)
  -ingester.partition-ring.min-partition-owners-duration duration
    	How long the minimum number of owners are enforced before a PENDING partition gets switched to ACTIVE. (default 10s)
  -ingester.partition-ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -ingester.ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -ingester.ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -ingester.ring.etcd.password string
    	Etcd password.
  -ingester.ring.etcd.username string
    	Etcd username.
  -ingester.ring.replication-factor int
    	Number of ingesters that each time series is replicated to. This option needs be set on ingesters, distributors, queriers, and rulers when running in microservices mode. (default 3)
  -ingester.ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -ingester.ring.tokens-file-path string
    	File path where tokens are stored. If empty, tokens are not stored at shutdown and restored at startup. Must be empty if -ingester.ring.token-generation-strategy is set to "spread-minimizing".
  -ingester.ring.zone-awareness-enabled
    	True to enable the zone-awareness and replicate ingested samples across different availability zones. This option needs be set on ingesters, distributors, queriers, and rulers when running in microservices mode.
  -log.format string
    	Output log messages in the given format. Valid formats: [logfmt, json] (default "logfmt")
  -log.level value
    	Only log messages with the given severity or above. Valid levels: [debug, info, warn, error] (default info)
  -memberlist.abort-if-join-fails
    	If this node fails to join memberlist cluster, abort.
  -memberlist.advertise-addr string
    	Gossip address to advertise to other members in the cluster. Used for NAT traversal.
  -memberlist.advertise-port int
    	Gossip port to advertise to other members in the cluster. Used for NAT traversal. (default 7946)
  -memberlist.bind-addr string
    	IP address to listen on for gossip messages. Multiple addresses may be specified. Defaults to 0.0.0.0
  -memberlist.bind-port int
    	Port to listen on for gossip messages. (default 7946)
  -memberlist.join string
    	Other cluster members to join. Can be specified multiple times. It can be an IP, hostname or an entry specified in the DNS Service Discovery format.
  -modules
    	List available values that can be used as target.
  -overrides-exporter.enabled-metrics comma-separated-list-of-strings
    	Comma-separated list of metrics to include in the exporter. Allowed metric names: ingestion_rate, ingestion_burst_size, ingestion_artificial_delay, max_global_series_per_user, max_global_series_per_metric, max_global_exemplars_per_user, max_fetched_chunks_per_query, max_fetched_series_per_query, max_fetched_chunk_bytes_per_query, ruler_max_rules_per_rule_group, ruler_max_rule_groups_per_tenant, max_global_metadata_per_user, max_global_metadata_per_metric, request_rate, request_burst_size, alertmanager_notification_rate_limit, alertmanager_max_dispatcher_aggregation_groups, alertmanager_max_alerts_count, alertmanager_max_alerts_size_bytes. (default ingestion_rate,ingestion_burst_size,max_global_series_per_user,max_global_series_per_metric,max_global_exemplars_per_user,max_fetched_chunks_per_query,max_fetched_series_per_query,max_fetched_chunk_bytes_per_query,ruler_max_rules_per_rule_group,ruler_max_rule_groups_per_tenant)
  -overrides-exporter.ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -overrides-exporter.ring.enabled
    	Enable the ring used by override-exporters to deduplicate exported limit metrics.
  -overrides-exporter.ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -overrides-exporter.ring.etcd.password string
    	Etcd password.
  -overrides-exporter.ring.etcd.username string
    	Etcd username.
  -overrides-exporter.ring.instance-interface-names string
    	List of network interface names to look up when finding the instance IP address. (default [<private network interfaces>])
  -overrides-exporter.ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -print.config
    	Print the config and exit.
  -querier.cardinality-analysis-enabled
    	Enables endpoints used for cardinality analysis.
  -querier.frontend-address string
    	Address of the query-frontend component, in host:port format. If multiple query-frontends are running, the host should be a DNS resolving to all query-frontend instances. This option should be set only when query-scheduler component is not in use.
  -querier.label-names-and-values-results-max-size-bytes int
    	Maximum size in bytes of distinct label names and values. When querier receives response from ingester, it merges the response with responses from other ingesters. This maximum size limit is applied to the merged(distinct) results. If the limit is reached, an error is returned. (default 419430400)
  -querier.label-values-max-cardinality-label-names-per-request int
    	Maximum number of label names allowed to be queried in a single /api/v1/cardinality/label_values API call. (default 100)
  -querier.max-concurrent int
    	The number of workers running in each querier process. This setting limits the maximum number of concurrent queries in each querier. The minimum value is four; lower values are ignored and set to the minimum (default 20)
  -querier.max-fetched-chunk-bytes-per-query int
    	The maximum size of all chunks in bytes that a query can fetch from ingesters and store-gateways. This limit is enforced in the querier and ruler. 0 to disable.
  -querier.max-fetched-chunks-per-query int
    	Maximum number of chunks that can be fetched in a single query from ingesters and store-gateways. This limit is enforced in the querier, ruler and store-gateway. 0 to disable. (default 2000000)
  -querier.max-fetched-series-per-query int
    	The maximum number of unique series for which a query can fetch samples from ingesters and store-gateways. This limit is enforced in the querier, ruler and store-gateway. 0 to disable
  -querier.max-partial-query-length duration
    	Limit the time range for partial queries at the querier level.
  -querier.max-query-lookback duration
    	Limit how long back data (series and metadata) can be queried, up until <lookback> duration ago. This limit is enforced in the query-frontend, querier and ruler for instant, range and remote read queries. For metadata queries like series, label names, label values queries the limit is enforced in the querier and ruler. If the requested time range is outside the allowed range, the request will not fail but will be manipulated to only query data within the allowed time range. 0 to disable.
  -querier.max-query-parallelism int
    	Maximum number of split (by time) or partial (by shard) queries that will be scheduled in parallel by the query-frontend for a single input query. This limit is introduced to have a fairer query scheduling and avoid a single query over a large time range saturating all available queriers. (default 14)
  -querier.max-samples int
    	Maximum number of samples a single query can load into memory. This config option should be set on query-frontend too when query sharding is enabled. (default 50000000)
  -querier.scheduler-address string
    	Address of the query-scheduler component, in host:port format. The host should resolve to all query-scheduler instances. This option should be set only when query-scheduler component is in use and -query-scheduler.service-discovery-mode is set to 'dns'.
  -querier.timeout duration
    	The timeout for a query. This config option should be set on query-frontend too when query sharding is enabled. This also applies to queries evaluated by the ruler (internally or remotely). (default 2m0s)
  -query-frontend.align-queries-with-step
    	Mutate incoming queries to align their start and end with their step to improve result caching.
  -query-frontend.cache-results
    	Cache query results.
  -query-frontend.log-queries-longer-than duration
    	Log queries that are slower than the specified duration. Set to 0 to disable. Set to < 0 to enable on all queries.
  -query-frontend.max-queriers-per-tenant int
    	Maximum number of queriers that can handle requests for a single tenant. If set to 0 or value higher than number of available queriers, *all* queriers will handle requests for the tenant. Each frontend (or query-scheduler, if used) will select the same set of queriers for the same tenant (given that all queriers are connected to all frontends / query-schedulers). This option only works with queriers connecting to the query-frontend / query-scheduler, not when using downstream URL.
  -query-frontend.max-query-expression-size-bytes int
    	Max size of the raw query, in bytes. This limit is enforced by the query-frontend for instant, range and remote read queries. 0 to not apply a limit to the size of the query.
  -query-frontend.max-total-query-length duration
    	Limit the total query time range (end - start time). This limit is enforced in the query-frontend on the received instant, range or remote read query.
  -query-frontend.parallelize-shardable-queries
    	True to enable query sharding.
  -query-frontend.query-result-response-format string
    	Format to use when retrieving query results from queriers. Supported values: json, protobuf (default "protobuf")
  -query-frontend.query-sharding-max-regexp-size-bytes int
    	Disable query sharding for any query containing a regular expression matcher longer than the configured number of bytes. 0 to disable the limit. (default 4096)
  -query-frontend.query-sharding-max-sharded-queries int
    	The max number of sharded queries that can be run for a given received query. 0 to disable limit. (default 128)
  -query-frontend.query-sharding-total-shards int
    	The amount of shards to use when doing parallelisation via query sharding by tenant. 0 to disable query sharding for tenant. Query sharding implementation will adjust the number of query shards based on compactor shards. This allows querier to not search the blocks which cannot possibly have the series for given query shard. (default 16)
  -query-frontend.results-cache-ttl duration
    	Time to live duration for cached query results. If query falls into out-of-order time window, -query-frontend.results-cache-ttl-for-out-of-order-time-window is used instead. (default 1w)
  -query-frontend.results-cache-ttl-for-cardinality-query duration
    	Time to live duration for cached cardinality query results. The value 0 disables the cache.
  -query-frontend.results-cache-ttl-for-labels-query duration
    	Time to live duration for cached label names and label values query results. The value 0 disables the cache.
  -query-frontend.results-cache-ttl-for-out-of-order-time-window duration
    	Time to live duration for cached query results if query falls into out-of-order time window. This is lower than -query-frontend.results-cache-ttl so that incoming out-of-order samples are returned in the query results sooner. (default 10m)
  -query-frontend.results-cache.backend string
    	Backend for query-frontend results cache, if not empty. Supported values: memcached, redis.
  -query-frontend.results-cache.compression string
    	Enable cache compression, if not empty. Supported values are: snappy.
  -query-frontend.results-cache.memcached.addresses comma-separated-list-of-strings
    	Comma-separated list of memcached addresses. Each address can be an IP address, hostname, or an entry specified in the DNS Service Discovery format.
  -query-frontend.results-cache.memcached.connect-timeout duration
    	The connection timeout. (default 200ms)
  -query-frontend.results-cache.memcached.timeout duration
    	The socket read/write timeout. (default 200ms)
  -query-frontend.scheduler-address string
    	Address of the query-scheduler component, in host:port format. The host should resolve to all query-scheduler instances. This option should be set only when query-scheduler component is in use and -query-scheduler.service-discovery-mode is set to 'dns'.
  -query-scheduler.max-outstanding-requests-per-tenant int
    	Maximum number of outstanding requests per tenant per query-scheduler. In-flight requests above this limit will fail with HTTP response status code 429. (default 100)
  -query-scheduler.max-used-instances int
    	The maximum number of query-scheduler instances to use, regardless how many replicas are running. This option can be set only when -query-scheduler.service-discovery-mode is set to 'ring'. 0 to use all available query-scheduler instances.
  -query-scheduler.ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -query-scheduler.ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -query-scheduler.ring.etcd.password string
    	Etcd password.
  -query-scheduler.ring.etcd.username string
    	Etcd username.
  -query-scheduler.ring.instance-interface-names string
    	List of network interface names to look up when finding the instance IP address. (default [<private network interfaces>])
  -query-scheduler.ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -ruler-storage.azure.account-key string
    	Azure storage account key. If unset, Azure managed identities will be used for authentication instead.
  -ruler-storage.azure.account-name string
    	Azure storage account name
  -ruler-storage.azure.connection-string string
    	If `connection-string` is set, the value of `endpoint-suffix` will not be used. Use this method over `account-key` if you need to authenticate via a SAS token. Or if you use the Azurite emulator.
  -ruler-storage.azure.container-name string
    	Azure storage container name
  -ruler-storage.azure.endpoint-suffix string
    	Azure storage endpoint suffix without schema. The account name will be prefixed to this value to create the FQDN. If set to empty string, default endpoint suffix is used.
  -ruler-storage.backend string
    	Backend storage to use. Supported backends are: s3, gcs, azure, swift, filesystem, local. (default "filesystem")
  -ruler-storage.cache.backend string
    	Backend for ruler storage cache, if not empty. The cache is supported for any storage backend except "local". Supported values: memcached, redis.
  -ruler-storage.cache.memcached.addresses comma-separated-list-of-strings
    	Comma-separated list of memcached addresses. Each address can be an IP address, hostname, or an entry specified in the DNS Service Discovery format.
  -ruler-storage.cache.memcached.connect-timeout duration
    	The connection timeout. (default 200ms)
  -ruler-storage.cache.memcached.timeout duration
    	The socket read/write timeout. (default 200ms)
  -ruler-storage.filesystem.dir string
    	Local filesystem storage directory. (default "ruler")
  -ruler-storage.gcs.bucket-name string
    	GCS bucket name
  -ruler-storage.gcs.service-account string
    	JSON either from a Google Developers Console client_credentials.json file, or a Google Developers service account key. Needs to be valid JSON, not a filesystem path.
  -ruler-storage.local.directory string
    	Directory to scan for rules
  -ruler-storage.s3.access-key-id string
    	S3 access key ID
  -ruler-storage.s3.bucket-name string
    	S3 bucket name
  -ruler-storage.s3.endpoint string
    	The S3 bucket endpoint. It could be an AWS S3 endpoint listed at https://docs.aws.amazon.com/general/latest/gr/s3.html or the address of an S3-compatible service in hostname:port format.
  -ruler-storage.s3.region string
    	S3 region. If unset, the client will issue a S3 GetBucketLocation API call to autodetect it.
  -ruler-storage.s3.secret-access-key string
    	S3 secret access key
  -ruler-storage.s3.session-token string
    	S3 session token
  -ruler-storage.s3.sse.kms-encryption-context string
    	KMS Encryption Context used for object encryption. It expects JSON formatted string.
  -ruler-storage.s3.sse.kms-key-id string
    	KMS Key ID used to encrypt objects in S3
  -ruler-storage.s3.sse.type string
    	Enable AWS Server Side Encryption. Supported values: SSE-KMS, SSE-S3.
  -ruler-storage.s3.sts-endpoint string
    	Accessing S3 resources using temporary, secure credentials provided by AWS Security Token Service.
  -ruler-storage.storage-prefix string
    	Prefix for all objects stored in the backend storage. For simplicity, it may only contain digits and English alphabet letters.
  -ruler-storage.swift.application-credential-id string
    	OpenStack Swift application credential id
  -ruler-storage.swift.application-credential-name string
    	OpenStack Swift application credential name
  -ruler-storage.swift.application-credential-secret string
    	OpenStack Swift application credential secret
  -ruler-storage.swift.auth-url string
    	OpenStack Swift authentication URL
  -ruler-storage.swift.auth-version int
    	OpenStack Swift authentication API version. 0 to autodetect.
  -ruler-storage.swift.container-name string
    	Name of the OpenStack Swift container to put chunks in.
  -ruler-storage.swift.domain-id string
    	OpenStack Swift user's domain ID.
  -ruler-storage.swift.domain-name string
    	OpenStack Swift user's domain name.
  -ruler-storage.swift.password string
    	OpenStack Swift API key.
  -ruler-storage.swift.project-domain-id string
    	ID of the OpenStack Swift project's domain (v3 auth only), only needed if it differs the from user domain.
  -ruler-storage.swift.project-domain-name string
    	Name of the OpenStack Swift project's domain (v3 auth only), only needed if it differs from the user domain.
  -ruler-storage.swift.project-id string
    	OpenStack Swift project ID (v2,v3 auth only).
  -ruler-storage.swift.project-name string
    	OpenStack Swift project name (v2,v3 auth only).
  -ruler-storage.swift.region-name string
    	OpenStack Swift Region to use (v2,v3 auth only).
  -ruler-storage.swift.user-domain-id string
    	OpenStack Swift user's domain ID.
  -ruler-storage.swift.user-domain-name string
    	OpenStack Swift user's domain name.
  -ruler-storage.swift.user-id string
    	OpenStack Swift user ID.
  -ruler-storage.swift.username string
    	OpenStack Swift username.
  -ruler.alerting-rules-evaluation-enabled
    	Controls whether alerting rules evaluation is enabled. This configuration option can be used to forcefully disable alerting rules evaluation on a per-tenant basis. (default true)
  -ruler.alertmanager-client.basic-auth-password string
    	HTTP Basic authentication password. It overrides the password set in the URL (if any).
  -ruler.alertmanager-client.basic-auth-username string
    	HTTP Basic authentication username. It overrides the username set in the URL (if any).
  -ruler.alertmanager-client.oauth.client_id string
    	OAuth2 client ID. Enables the use of OAuth2 for authenticating with Alertmanager.
  -ruler.alertmanager-client.oauth.client_secret string
    	OAuth2 client secret.
  -ruler.alertmanager-client.oauth.endpoint-params value
    	Optional additional URL parameters to send to the token URL. (default {})
  -ruler.alertmanager-client.oauth.scopes comma-separated-list-of-strings
    	Optional scopes to include with the token request.
  -ruler.alertmanager-client.oauth.token_url string
    	Endpoint used to fetch access token.
  -ruler.alertmanager-url string
    	Comma-separated list of URL(s) of the Alertmanager(s) to send notifications to. Each URL is treated as a separate group. Multiple Alertmanagers in HA per group can be supported by using DNS service discovery format, comprehensive of the scheme. Basic auth is supported as part of the URL.
  -ruler.enable-api
    	Enable the ruler config API. (default true)
  -ruler.evaluation-delay-duration duration
    	Duration to delay the evaluation of rules to ensure the underlying metrics have been pushed. (default 1m)
  -ruler.external.url string
    	URL of alerts return path.
  -ruler.max-rule-groups-per-tenant int
    	Maximum number of rule groups per-tenant. 0 to disable. (default 70)
  -ruler.max-rule-groups-per-tenant-by-namespace value
    	Maximum number of rule groups per tenant by namespace. Value is a map, where each key is the namespace and value is the number of rule groups allowed in the namespace (int). On the command line, this map is given in a JSON format. The number of rule groups specified has the same meaning as -ruler.max-rule-groups-per-tenant, but only applies for the specific namespace. If specified, it supersedes -ruler.max-rule-groups-per-tenant. (default {})
  -ruler.max-rules-per-rule-group int
    	Maximum number of rules per rule group per-tenant. 0 to disable. (default 20)
  -ruler.max-rules-per-rule-group-by-namespace value
    	Maximum number of rules per rule group by namespace. Value is a map, where each key is the namespace and value is the number of rules allowed in the namespace (int). On the command line, this map is given in a JSON format. The number of rules specified has the same meaning as -ruler.max-rules-per-rule-group, but only applies for the specific namespace. If specified, it supersedes -ruler.max-rules-per-rule-group. (default {})
  -ruler.query-frontend.address string
    	GRPC listen address of the query-frontend(s). Must be a DNS address (prefixed with dns:///) to enable client side load balancing.
  -ruler.query-frontend.max-retries-rate float
    	Maximum number of retries for failed queries per second. (default 170)
  -ruler.query-frontend.query-result-response-format string
    	Format to use when retrieving query results from query-frontends. Supported values: json, protobuf (default "protobuf")
  -ruler.recording-rules-evaluation-enabled
    	Controls whether recording rules evaluation is enabled. This configuration option can be used to forcefully disable recording rules evaluation on a per-tenant basis. (default true)
  -ruler.ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -ruler.ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -ruler.ring.etcd.password string
    	Etcd password.
  -ruler.ring.etcd.username string
    	Etcd username.
  -ruler.ring.instance-interface-names string
    	List of network interface names to look up when finding the instance IP address. (default [<private network interfaces>])
  -ruler.ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -ruler.rule-path string
    	Directory to store temporary rule files loaded by the Prometheus rule managers. This directory is not required to be persisted between restarts. (default "./data-ruler/")
  -ruler.tenant-federation.enabled
    	Enable rule groups to query against multiple tenants. The tenant IDs involved need to be in the rule group's 'source_tenants' field. If this flag is set to 'false' when there are federated rule groups that already exist, then these rules groups will be skipped during evaluations.
  -ruler.tenant-shard-size int
    	The tenant's shard size when sharding is used by ruler. Value of 0 disables shuffle sharding for the tenant, and tenant rules will be sharded across all ruler replicas.
  -runtime-config.file comma-separated-list-of-strings
    	Comma separated list of yaml files with the configuration that can be updated at runtime. Runtime config files will be merged from left to right.
  -server.cluster string
    	Optionally define the server's cluster, and enable validation that requests are for the same cluster.
  -server.grpc-listen-address string
    	gRPC server listen address.
  -server.grpc-listen-port int
    	gRPC server listen port. (default 9095)
  -server.http-listen-address string
    	HTTP server listen address.
  -server.http-listen-port int
    	HTTP server listen port. (default 8080)
  -server.http-log-closed-connections-without-response-enabled
    	Log closed connections that did not receive any response, most likely because client didn't send any request within timeout.
  -server.http-read-header-timeout duration
    	Read timeout for HTTP request headers. If set to 0, value of -server.http-read-timeout is used.
  -server.log-request-headers
    	Optionally log request headers.
  -server.log-request-headers-exclude-list string
    	Comma separated list of headers to exclude from loggin. Only used if server.log-request-headers is true.
  -server.log-source-ips-full
    	Log all source IPs instead of only the originating one. Only used if server.log-source-ips-enabled is true
  -server.report-grpc-codes-in-instrumentation-label-enabled
    	If set to true, gRPC statuses will be reported in instrumentation labels with their string representations. Otherwise, they will be reported as "error". (default true)
  -server.throughput.latency-cutoff duration
    	Requests taking over the cutoff are be observed to measure throughput. Server-Timing header is used with specified unit as the indicator, for example 'Server-Timing: unit;val=8.2'. If set to 0, the throughput is not calculated.
  -server.throughput.unit string
    	Unit of the server throughput metric, for example 'processed_bytes' or 'samples_processed'. Observed values are gathered from the 'Server-Timing' header with the 'val' key. If set, it is appended to the request_server_throughput metric name. (default "samples_processed")
  -server.tls-cipher-suites string
    	Comma-separated list of cipher suites to use. If blank, the default Go cipher suites is used.
  -server.tls-min-version string
    	Minimum TLS version to use. Allowed values: VersionTLS10, VersionTLS11, VersionTLS12, VersionTLS13. If blank, the Go TLS minimum version is used.
  -store-gateway.sharding-ring.auto-forget-enabled
    	When enabled, a store-gateway is automatically removed from the ring after failing to heartbeat the ring for a period longer than 10 times the configured -store-gateway.sharding-ring.heartbeat-timeout. (default true)
  -store-gateway.sharding-ring.consul.hostname string
    	Hostname and port of Consul. (default "localhost:8500")
  -store-gateway.sharding-ring.etcd.endpoints string
    	The etcd endpoints to connect to.
  -store-gateway.sharding-ring.etcd.password string
    	Etcd password.
  -store-gateway.sharding-ring.etcd.username string
    	Etcd username.
  -store-gateway.sharding-ring.instance-availability-zone string
    	The availability zone where this instance is running. Required if zone-awareness is enabled.
  -store-gateway.sharding-ring.instance-interface-names string
    	List of network interface names to look up when finding the instance IP address. (default [<private network interfaces>])
  -store-gateway.sharding-ring.store string
    	Backend storage to use for the ring. Supported values are: consul, etcd, inmemory, memberlist, multi. (default "memberlist")
  -store-gateway.sharding-ring.tokens-file-path string
    	File path where tokens are stored. If empty, tokens are not stored at shutdown and restored at startup.
  -store-gateway.sharding-ring.unregister-on-shutdown
    	Unregister from the ring upon clean shutdown. (default true)
  -store-gateway.sharding-ring.zone-awareness-enabled
    	True to enable zone-awareness and replicate blocks across different availability zones. This option needs be set both on the store-gateway, querier and ruler when running in microservices mode.
  -store-gateway.tenant-shard-size int
    	The tenant's shard size, used when store-gateway sharding is enabled. Value of 0 disables shuffle sharding for the tenant, that is all tenant blocks are sharded across all store-gateway replicas.
  -store.max-labels-query-length duration
    	Limit the time range (end - start time) of series, label names and values queries. This limit is enforced in the querier. If the requested time range is outside the allowed range, the request will not fail but will be manipulated to only query data within the allowed time range. 0 to disable.
  -target comma-separated-list-of-strings
    	Comma-separated list of components to include in the instantiated process. The default value 'all' includes all components that are required to form a functional Grafana Mimir instance in single-binary mode. Use the '-modules' command line flag to get a list of available components, and to see which components are included with 'all'. (default all)
  -tenant-federation.enabled
    	If enabled on all services, queries can be federated across multiple tenants. The tenant IDs involved need to be specified separated by a '|' character in the 'X-Scope-OrgID' header.
  -tenant-federation.max-tenants int
    	The max number of tenant IDs that may be supplied for a federated query if enabled. 0 to disable the limit.
  -tests.basic-auth-password string
    	The password to use for HTTP bearer authentication. (mutually exclusive with bearer-token flag)
  -tests.basic-auth-user string
    	The username to use for HTTP bearer authentication. (mutually exclusive with bearer-token flag)
  -tests.bearer-token string
    	The bearer token to use for HTTP bearer authentication. (mutually exclusive with basic-auth flags)
  -tests.client.user-agent string
    	The value the Mimir client should send in the User-Agent header. (default "mimir-continuous-test")
  -tests.read-endpoint string
    	The base endpoint on the read path. The URL should have no trailing slash. The specific API path is appended by the tool to the URL, for example /api/v1/query_range for range query API, so the configured URL must not include it.
  -tests.read-timeout duration
    	The timeout for a single read request. (default 1m0s)
  -tests.run-interval duration
    	How frequently tests should run. (default 5m0s)
  -tests.send-chunks-debugging-header
    	Request debugging on the server side via header.
  -tests.smoke-test
    	Run a smoke test, i.e. run all tests once and exit.
  -tests.tenant-id string
    	The tenant ID to use to write and read metrics in tests. (default "anonymous")
  -tests.write-batch-size int
    	The maximum number of series to write in a single request. (default 1000)
  -tests.write-endpoint string
    	The base endpoint on the write path. The URL should have no trailing slash. The specific API path is appended by the tool to the URL, for example /api/v1/push for the remote write API endpoint, so the configured URL must not include it.
  -tests.write-protocol string
    	The protocol to use to write series data. Supported values are: prometheus, otlp-http (default "prometheus")
  -tests.write-read-series-test.float-samples-enabled
    	Set to true to use float samples (default true)
  -tests.write-read-series-test.histogram-samples-enabled
    	Set to true to use native histogram samples
  -tests.write-read-series-test.max-query-age duration
    	How back in the past metrics can be queried at most. (default 168h0m0s)
  -tests.write-read-series-test.num-series int
    	Number of series used for the test. (default 10000)
  -tests.write-timeout duration
    	The timeout for a single write request. (default 5s)
  -usage-stats.enabled
    	Enable anonymous usage reporting. (default true)
  -usage-stats.installation-mode string
    	Installation mode. Supported values: custom, helm, jsonnet. (default "custom")
  -validation.max-label-names-per-info-series int
    	Maximum number of label names per info series. Has no effect if less than the value of the maximum number of label names per series option (-validation.max-label-names-per-series) (default 80)
  -validation.max-label-names-per-series int
    	Maximum number of label names per series. (default 30)
  -validation.max-length-label-name int
    	Maximum length accepted for label names (default 1024)
  -validation.max-length-label-value int
    	Maximum length accepted for label value. This setting also applies to the metric name (default 2048)
  -validation.max-metadata-length int
    	Maximum length accepted for metric metadata. Metadata refers to Metric Name, HELP and UNIT. Longer metadata is dropped except for HELP which is truncated. (default 1024)
  -validation.max-native-histogram-buckets int
    	Maximum number of buckets per native histogram sample. 0 to disable the limit.
  -validation.reduce-native-histogram-over-max-buckets
    	Whether to reduce or reject native histogram samples with more buckets than the configured limit. (default true)
  -version
    	Print application version and exit.

To see all flags, use -help-all
