{{- /*gotype: github.com/grafana/mimir/pkg/alertmanager.ringStatusPageContents*/ -}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Alertmanager Ring</title>
</head>
<body>
<h1>Alertmanager Ring</h1>
<p>{{ .Message }}</p>
</body>
</html>