{{- /*gotype: github.com/grafana/mimir/pkg/alertmanager.statusPageContents*/ -}}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Alertmanager Status</title>
</head>
<body>
<h1>Alertmanager Status: {{ .State }}</h1>
</body>
</html>