{{ define "my_message" }}[{{ .CommonLabels.alertname }} | {{ .CommonLabels.customer }} | {{ .CommonLabels.environment }}]{{ end }}

{{ define "my_description" }}
{{ range .Alerts -}}
Alertname: {{ .Labels.alertname }}
Severity: {{ .Labels.severity }}

Details:
• Customer: {{ .Labels.customer }}
• Environment: {{ .Labels.environment }}
• Description: {{ .Annotations.description }}

{{ end }}
{{ end }}
