name: Backport PR Creator

on:
  pull_request:
    types:
      - closed
      - labeled

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  main:
    runs-on: ubuntu-latest

    # We don't run the backporting for PRs from forks because those can't access "mimir-github-bot" secrets in vault.
    # We don't use GitHub actions app (secrets.GITHUB_TOKEN) because PRs created by the bot don't trigger CI.
    # Also only run if the PR is merged, as an extra safe-guard.
    if: ${{ ! github.event.pull_request.head.repo.fork && github.event.pull_request.merged == true }}

    steps:
      - name: Checkout Actions
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: "grafana/grafana-github-actions"
          path: ./actions
          # pin the version to before https://github.com/grafana/grafana-github-actions/pull/113 because
          # we don't want to have the same strict rules for PR labels
          ref: d284afd314ca3625c23595e9f62b52d215ead7ce
          persist-credentials: false

      - name: Install Actions
        run: npm install --production --prefix ./actions

      - name: Retrieve GitHub App Credentials from Vault
        id: get-secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@28361cdb22223e5f1e34358c86c20908e7248760 # v1.1.0
        with:
          repo_secrets: |
            APP_ID=mimir-github-bot:app_id
            PRIVATE_KEY=mimir-github-bot:private_key

      - name: Generate GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          # Variables generated by the previous step get-secrets
          app-id: ${{ env.APP_ID }}
          private-key: ${{ env.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Run backport
        uses: ./actions/backport
        with:
          token: ${{ steps.app-token.outputs.token }}
          labelsToAdd: "backport"
          title: "[{{base}}] {{originalTitle}}"
