# Auto-merge as documented in official Github docs
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions

name: Auto-review Dependabot PRs
on: pull_request_target

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot-reviewer:
    runs-on: ubuntu-latest

    if: ${{ github.event.pull_request.user.login == 'grafanabot' }}
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Approve and auto-merge
        id: auto-merge
        if: contains(github.event.pull_request.head.ref, 'helm-chart-weekly-')
        run: |
          gh pr merge --auto --squash "$PR_URL"
          gh pr review $PR_URL \
          --approve -b "**I'm approving** this pull request, since it is a helm release."
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GH_BOT_ACCESS_TOKEN}}

      - name: Manual review is required
        if: steps.auto-merge.conclusion != 'success'
        run: |
          gh pr comment $PR_URL --body "**This PR from grafanabot requires manual review.**"

        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}