name: helm-ci

on: pull_request

jobs:
  call-lint:
    uses: grafana/helm-charts/.github/workflows/linter.yml@main
    with:
      filter_regex_include: .*operations/helm/.*

  call-lint-test:
    uses: grafana/helm-charts/.github/workflows/lint-test.yaml@4c4e16038d3db8816a7c0d924c85eb04723d9c46
    with:
      ct_configfile: operations/helm/ct.yaml
      ct_check_version_increment: false
      helm_version: v3.8.2
      kind_kubectl_version: v1.20.8
      kind_node_image: kindest/node:v1.20.15

  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Get build image from Makefile
        id: build_image_step
        run: echo "build_image=$(make print-build-image)" >> "$GITHUB_OUTPUT"
    outputs:
      build_image: ${{ steps.build_image_step.outputs.build_image }}

  conftest:
    runs-on: ubuntu-latest
    needs:
      - prepare
    container:
      image: ${{ needs.prepare.outputs.build_image }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Run Git Config
        run: git config --global --add safe.directory '*'

      - name: Lint Rego Policies
        run: make BUILD_IN_CONTAINER=false check-conftest-fmt

      - name: Run conftest policy unit tests
        env:
          TEMP_DIR: ${{ runner.temp }}/conftest
        run: make BUILD_IN_CONTAINER=false conftest-verify
