name: helm-ci

on: pull_request

permissions:
  contents: read

jobs:
  call-lint:
    uses: grafana/helm-charts/.github/workflows/linter.yml@main
    with:
      filter_regex_include: .*operations/helm/.*

  call-lint-test:
    uses: grafana/helm-charts/.github/workflows/lint-test.yaml@main
    with:
      ct_configfile: operations/helm/ct.yaml
      ct_check_version_increment: false
      helm_version: v4.0.4
      kind_kubectl_version: v1.29.5
      kind_node_image: kindest/node:v1.29.0

  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Get build image from Makefile
        id: build_image_step
        run: echo "build_image=$(make print-build-image)" >> "$GITHUB_OUTPUT"
    outputs:
      build_image: ${{ steps.build_image_step.outputs.build_image }}

  conftest:
    runs-on: ubuntu-latest
    needs:
      - prepare
    container:
      image: ${{ needs.prepare.outputs.build_image }} # zizmor: ignore[unpinned-images] The image output produced by the prepare step is pinned
    steps:
      - name: Check out repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Run Git Config
        run: git config --global --add safe.directory '*'

      - name: Lint Rego Policies
        run: make BUILD_IN_CONTAINER=false check-conftest-fmt

      - name: Run conftest policy unit tests
        env:
          TEMP_DIR: ${{ runner.temp }}/conftest
        run: make BUILD_IN_CONTAINER=false conftest-verify
