name: "publish-technical-documentation-next"

on:
  push:
    branches:
    - "main"
    paths:
    - "docs/sources/helm-charts/**"
    - "docs/sources/mimir/**"
  workflow_dispatch:
jobs:
  test:
    uses: ./.github/workflows/test-docs.yml

  sync:
    runs-on: "ubuntu-latest"
    needs: "test"
    steps:
    - name: "Check out code"
      uses: "actions/checkout@v3"

    - name: "Clone website-sync Action"
      # WEBSITE_SYNC_TOKEN is a fine-grained GitHub Personal Access Token that expires.
      # It must be regenerated in the grafanabot GitHub account and requires a Grafana organization
      # GitHub administrator to update the organization secret.
      # The IT helpdesk can update the organization secret.
      run: "git clone --single-branch --no-tags --depth 1 -b master https://grafanabot:${{ secrets.WEBSITE_SYNC_TOKEN }}@github.com/grafana/website-sync ./.github/actions/website-sync"

    - name: "Publish to website repository mimir (next)"
      uses: "./.github/actions/website-sync"
      id: "publish-next-mimir"
      with:
        repository: "grafana/website"
        branch: "master"
        host: "github.com"
        # PUBLISH_TO_WEBSITE_TOKEN is a fine-grained GitHub Personal Access Token that expires.
        # It must be regenerated in the grafanabot GitHub account and requires a Grafana organization
        # GitHub administrator to update the organization secret.
        # The IT helpdesk can update the organization secret.
        github_pat: "grafanabot:${{ secrets.PUBLISH_TO_WEBSITE_TOKEN }}"
        source_folder: "docs/sources/mimir"
        target_folder: "content/docs/mimir/next"
        allow_no_changes: true

    - name: "Publish to website repository helm-charts/mimir-distributed (next)"
      uses: "./.github/actions/website-sync"
      id: "publish-next-mimir-distributed"
      with:
        repository: "grafana/website"
        branch: "master"
        host: "github.com"
        # PUBLISH_TO_WEBSITE_MIMIR is a fine-grained GitHub Personal Access Token that expires.
        # It must be updated in the grafanabot GitHub account.
        github_pat: "grafanabot:${{ secrets.PUBLISH_TO_WEBSITE_TOKEN }}"
        source_folder: "docs/sources/helm-charts/mimir-distributed"
        target_folder: "content/docs/helm-charts/mimir-distributed/next"
        allow_no_changes: true
