name: publish-technical-documentation-release-helm-charts

on:
  push:
    tags:  # this excludes pre-releases, e.g. mimir-distributed-2.2.0-weekly.192
      - "mimir-distributed-[0-9]+.[0-9]+.[0-9]+"
    branches: # this excludes pre-releases, e.g. mimir-distributed-2.2.0-weekly.192
      - "mimir-distributed-release-[0-9]+.[0-9]+"
    paths:
      - "docs/sources/helm-charts/**"
      - "operations/helm/charts/mimir-distributed/Chart.yaml"
  workflow_dispatch:
jobs:
  test:
    uses: ./.github/workflows/test-docs.yml
  sync:
    if: github.repository == 'grafana/mimir'
    needs: test
    # The following permissions are required to to assume roles from GitHub's OIDC which is used to fetch secrets from Vault.
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Full fetch depth is required to fetch tags. The publishing workflow uses tags to prevent publishing a release branch before it has been formally released, as determined by the presence of a matching tag for the release branch.
          fetch-depth: 0
          persist-credentials: false
      - uses: grafana/writers-toolkit/publish-technical-documentation-release@d83ba5389fb8de1458b12bcc35ad4a4059883029 # publish-technical-documentation/v1.2.0
        with:
          release_tag_regexp: "^mimir-distributed-(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)$"
          release_branch_regexp: "^mimir-distributed-release-(0|[1-9]\\d*)\\.(0|[1-9]\\d*)$"
          release_branch_with_patch_regexp: "^mimir-distributed-release-(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)$"
          source_directory: docs/sources/helm-charts/mimir-distributed
          website_directory: content/docs/helm-charts/mimir-distributed
