name: publish-technical-documentation-next

on:
  push:
    branches:
      - main
    paths:
      - "docs/sources/helm-charts/**"
      - "docs/sources/mimir/**"
  workflow_dispatch:
jobs:
  test:
    uses: ./.github/workflows/test-docs.yml

  sync:
    if: github.repository == 'grafana/mimir'
    needs: test
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: grafana/writers-toolkit/publish-technical-documentation@39cdc38767184996e25d611923f8ce697e33bc70 # publish-technical-documentation/v1.2.0
        with:
          source_directory: docs/sources/mimir
          website_directory: content/docs/mimir/next
      - uses: grafana/writers-toolkit/publish-technical-documentation@39cdc38767184996e25d611923f8ce697e33bc70 # publish-technical-documentation/v1.2.0
        with:
          source_directory: docs/sources/helm-charts/mimir-distributed
          website_directory: content/docs/helm-charts/mimir-distributed/next
